:root {
  --mb-stone-50:#fafaf9;
  --mb-stone-100:#f5f5f4;
  --mb-stone-200:#e7e5e4;
  --mb-stone-300:#d6d3d1;
  --mb-stone-400:#a8a29e;
  --mb-stone-500:#78716c;
  --mb-stone-600:#57534e;
  --mb-stone-700:#44403c;
  --mb-stone-800:#292524;
  --mb-stone-900:#1c1917;
  --mb-stone-950:#0c0a09;
  --mb-neutral-50:#fafafa;
  --mb-neutral-100:#f5f5f5;
  --mb-neutral-200:#e5e5e5;
  --mb-neutral-300:#d4d4d4;
  --mb-neutral-400:#a3a3a3;
  --mb-neutral-500:#737373;
  --mb-neutral-600:#525252;
  --mb-neutral-700:#404040;
  --mb-neutral-800:#262626;
  --mb-neutral-900:#171717;
  --mb-neutral-950:#0a0a0a;
  --mb-zinc-50:#fafafa;
  --mb-zinc-100:#f4f4f5;
  --mb-zinc-200:#e4e4e7;
  --mb-zinc-300:#d4d4d8;
  --mb-zinc-400:#a1a1aa;
  --mb-zinc-500:#71717a;
  --mb-zinc-600:#52525b;
  --mb-zinc-700:#3f3f46;
  --mb-zinc-800:#27272a;
  --mb-zinc-900:#18181b;
  --mb-zinc-950:#09090b;
  --mb-gray-50:#f9fafb;
  --mb-gray-100:#f3f4f6;
  --mb-gray-200:#e5e7eb;
  --mb-gray-300:#d1d5db;
  --mb-gray-400:#9ca3af;
  --mb-gray-500:#6b7280;
  --mb-gray-600:#4b5563;
  --mb-gray-700:#374151;
  --mb-gray-800:#1f2937;
  --mb-gray-900:#111827;
  --mb-gray-950:#030712;
  --mb-slate-50:#f8fafc;
  --mb-slate-100:#f1f5f9;
  --mb-slate-200:#e2e8f0;
  --mb-slate-300:#cbd5e1;
  --mb-slate-400:#94a3b8;
  --mb-slate-500:#64748b;
  --mb-slate-600:#475569;
  --mb-slate-700:#334155;
  --mb-slate-800:#1e293b;
  --mb-slate-900:#0f172a;
  --mb-slate-950:#020617;
  --mb-rose-50:#fff1f2;
  --mb-rose-100:#ffe4e6;
  --mb-rose-200:#fecdd3;
  --mb-rose-300:#fda4af;
  --mb-rose-400:#fb7185;
  --mb-rose-500:#f43f5e;
  --mb-rose-600:#e11d48;
  --mb-rose-700:#be123c;
  --mb-rose-800:#9f1239;
  --mb-rose-900:#881337;
  --mb-rose-950:#4c0519;
  --mb-pink-50:#fdf2f8;
  --mb-pink-100:#fce7f3;
  --mb-pink-200:#fbcfe8;
  --mb-pink-300:#f9a8d4;
  --mb-pink-400:#f472b6;
  --mb-pink-500:#ec4899;
  --mb-pink-600:#db2777;
  --mb-pink-700:#be185d;
  --mb-pink-800:#9d174d;
  --mb-pink-900:#831843;
  --mb-pink-950:#500724;
  --mb-fuchsia-50:#fdf4ff;
  --mb-fuchsia-100:#fae8ff;
  --mb-fuchsia-200:#f5d0fe;
  --mb-fuchsia-300:#f0abfc;
  --mb-fuchsia-400:#e879f9;
  --mb-fuchsia-500:#d946ef;
  --mb-fuchsia-600:#c026d3;
  --mb-fuchsia-700:#a21caf;
  --mb-fuchsia-800:#86198f;
  --mb-fuchsia-900:#701a75;
  --mb-fuchsia-950:#4a044e;
  --mb-purple-50:#faf5ff;
  --mb-purple-100:#f3e8ff;
  --mb-purple-200:#e9d5ff;
  --mb-purple-300:#d8b4fe;
  --mb-purple-400:#c084fc;
  --mb-purple-500:#a855f7;
  --mb-purple-600:#9333ea;
  --mb-purple-700:#7e22ce;
  --mb-purple-800:#6b21a8;
  --mb-purple-900:#581c87;
  --mb-purple-950:#3b0764;
  --mb-violet-50:#f5f3ff;
  --mb-violet-100:#ede9fe;
  --mb-violet-200:#ddd6fe;
  --mb-violet-300:#c4b5fd;
  --mb-violet-400:#a78bfa;
  --mb-violet-500:#8b5cf6;
  --mb-violet-600:#7c3aed;
  --mb-violet-700:#6d28d9;
  --mb-violet-800:#5b21b6;
  --mb-violet-900:#4c1d95;
  --mb-violet-950:#2e1065;
  --mb-indigo-50:#eef2ff;
  --mb-indigo-100:#e0e7ff;
  --mb-indigo-200:#c7d2fe;
  --mb-indigo-300:#a5b4fc;
  --mb-indigo-400:#818cf8;
  --mb-indigo-500:#6366f1;
  --mb-indigo-600:#4f46e5;
  --mb-indigo-700:#4338ca;
  --mb-indigo-800:#3730a3;
  --mb-indigo-900:#312e81;
  --mb-indigo-950:#1e1b4b;
  --mb-blue-50:#eff6ff;
  --mb-blue-100:#dbeafe;
  --mb-blue-200:#bfdbfe;
  --mb-blue-300:#93c5fd;
  --mb-blue-400:#60a5fa;
  --mb-blue-500:#3b82f6;
  --mb-blue-600:#2563eb;
  --mb-blue-700:#1d4ed8;
  --mb-blue-800:#1e40af;
  --mb-blue-900:#1e3a8a;
  --mb-blue-950:#172554;
  --mb-sky-50:#f0f9ff;
  --mb-sky-100:#e0f2fe;
  --mb-sky-200:#bae6fd;
  --mb-sky-300:#7dd3fc;
  --mb-sky-400:#38bdf8;
  --mb-sky-500:#0ea5e9;
  --mb-sky-600:#0284c7;
  --mb-sky-700:#0369a1;
  --mb-sky-800:#075985;
  --mb-sky-900:#0c4a6e;
  --mb-sky-950:#082f49;
  --mb-cyan-50:#ecfeff;
  --mb-cyan-100:#cffafe;
  --mb-cyan-200:#a5f3fc;
  --mb-cyan-300:#67e8f9;
  --mb-cyan-400:#22d3ee;
  --mb-cyan-500:#06b6d4;
  --mb-cyan-600:#0891b2;
  --mb-cyan-700:#0e7490;
  --mb-cyan-800:#155e75;
  --mb-cyan-900:#164e63;
  --mb-cyan-950:#083344;
  --mb-teal-50:#f0fdfa;
  --mb-teal-100:#ccfbf1;
  --mb-teal-200:#99f6e4;
  --mb-teal-300:#5eead4;
  --mb-teal-400:#2dd4bf;
  --mb-teal-500:#14b8a6;
  --mb-teal-600:#0d9488;
  --mb-teal-700:#0f766e;
  --mb-teal-800:#115e59;
  --mb-teal-900:#134e4a;
  --mb-teal-950:#042f2e;
  --mb-yellow-50:#fefce8;
  --mb-yellow-100:#fef9c3;
  --mb-yellow-200:#fef08a;
  --mb-yellow-300:#fde047;
  --mb-yellow-400:#facc15;
  --mb-yellow-500:#eab308;
  --mb-yellow-600:#ca8a04;
  --mb-yellow-700:#a16207;
  --mb-yellow-800:#854d0e;
  --mb-yellow-900:#713f12;
  --mb-yellow-950:#422006;
  --mb-amber-50:#fffbeb;
  --mb-amber-100:#fef3c7;
  --mb-amber-200:#fde68a;
  --mb-amber-300:#fcd34d;
  --mb-amber-400:#fbbf24;
  --mb-amber-500:#f59e0b;
  --mb-amber-600:#d97706;
  --mb-amber-700:#b45309;
  --mb-amber-800:#92400e;
  --mb-amber-900:#78350f;
  --mb-amber-950:#451a03;
  --mb-orange-50:#fff7ed;
  --mb-orange-100:#ffedd5;
  --mb-orange-200:#fed7aa;
  --mb-orange-300:#fdba74;
  --mb-orange-400:#fb923c;
  --mb-orange-500:#f97316;
  --mb-orange-600:#ea580c;
  --mb-orange-700:#c2410c;
  --mb-orange-800:#9a3412;
  --mb-orange-900:#7c2d12;
  --mb-orange-950:#431407;
  --mb-red-50:#fef2f2;
  --mb-red-100:#fee2e2;
  --mb-red-200:#fecaca;
  --mb-red-300:#fca5a5;
  --mb-red-400:#f87171;
  --mb-red-500:#ef4444;
  --mb-red-600:#dc2626;
  --mb-red-700:#b91c1c;
  --mb-red-800:#991b1b;
  --mb-red-900:#7f1d1d;
  --mb-red-950:#450a0a;
  --mb-lime-50:#f7fee7;
  --mb-lime-100:#ecfccb;
  --mb-lime-200:#d9f99d;
  --mb-lime-300:#bef264;
  --mb-lime-400:#a3e635;
  --mb-lime-500:#84cc16;
  --mb-lime-600:#65a30d;
  --mb-lime-700:#4d7c0f;
  --mb-lime-800:#3f6212;
  --mb-lime-900:#365314;
  --mb-lime-950:#1a2e05;
  --mb-green-50:#f0fdf4;
  --mb-green-100:#dcfce7;
  --mb-green-200:#bbf7d0;
  --mb-green-300:#86efac;
  --mb-green-400:#4ade80;
  --mb-green-500:#22c55e;
  --mb-green-600:#16a34a;
  --mb-green-700:#15803d;
  --mb-green-800:#166534;
  --mb-green-900:#14532d;
  --mb-green-950:#052e16;
  --mb-emerald-50:#ecfdf5;
  --mb-emerald-100:#d1fae5;
  --mb-emerald-200:#a7f3d0;
  --mb-emerald-300:#6ee7b7;
  --mb-emerald-400:#34d399;
  --mb-emerald-500:#10b981;
  --mb-emerald-600:#059669;
  --mb-emerald-700:#047857;
  --mb-emerald-800:#065f46;
  --mb-emerald-900:#064e3b;
  --mb-emerald-950:#022c22;
  --mb-border-radius-none:0;
  --mb-border-radius-xs:2px;
  --mb-border-radius-sm:4px;
  --mb-border-radius-md:6px;
  --mb-border-radius-lg:8px;
  --mb-border-radius-xl:12px;
  --mb-transition-duration:0.2s;
  --mb-disabled-opacity:0.6;
  --mb-icon-size:1rem;
  --mb-anchor-gutter:2px;
  --mb-overlay-navigation-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --mb-overlay-modal-border-radius:var(--mb-border-radius-xl);
  --mb-overlay-modal-padding:1.25rem;
  --mb-overlay-modal-shadow:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --mb-overlay-popover-border-radius:var(--mb-border-radius-md);
  --mb-overlay-popover-padding:0.75rem;
  --mb-overlay-popover-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --mb-overlay-select-border-radius:var(--mb-border-radius-md);
  --mb-overlay-select-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --mb-navigation-submenu-icon-size:0.875rem;
  --mb-navigation-submenu-label-padding:0.5rem 0.75rem;
  --mb-navigation-submenu-label-font-weight:600;
  --mb-navigation-item-padding:0.5rem 0.75rem;
  --mb-navigation-item-border-radius:var(--mb-border-radius-sm);
  --mb-navigation-item-gap:0.5rem;
  --mb-navigation-list-padding:0.25rem 0.25rem;
  --mb-navigation-list-gap:2px;
  --mb-mask-transition-duration:0.3s;
  --mb-content-border-radius:var(--mb-border-radius-md);
  --mb-list-padding:0.25rem 0.25rem;
  --mb-list-gap:2px;
  --mb-list-option-group-padding:0.5rem 0.75rem;
  --mb-list-option-group-font-weight:600;
  --mb-list-option-padding:0.5rem 0.75rem;
  --mb-list-option-border-radius:var(--mb-border-radius-sm);
  --mb-list-header-padding:0.5rem 1rem 0.25rem 1rem;
  --mb-form-field-padding-x:0.75rem;
  --mb-form-field-padding-y:0.5rem;
  --mb-form-field-border-radius:var(--mb-border-radius-md);
  --mb-form-field-transition-duration:var(--mb-transition-duration);
  --mb-form-field-focus-ring-width:0;
  --mb-form-field-focus-ring-style:none;
  --mb-form-field-focus-ring-color:transparent;
  --mb-form-field-focus-ring-offset:0;
  --mb-form-field-focus-ring-shadow:none;
  --mb-form-field-lg-font-size:1.125rem;
  --mb-form-field-lg-padding-x:0.875rem;
  --mb-form-field-lg-padding-y:0.625rem;
  --mb-form-field-sm-font-size:0.875rem;
  --mb-form-field-sm-padding-x:0.625rem;
  --mb-form-field-sm-padding-y:0.375rem;
  --mb-primary-50:var(--mb-emerald-50);
  --mb-primary-100:var(--mb-emerald-100);
  --mb-primary-200:var(--mb-emerald-200);
  --mb-primary-300:var(--mb-emerald-300);
  --mb-primary-400:var(--mb-emerald-400);
  --mb-primary-500:var(--mb-emerald-500);
  --mb-primary-600:var(--mb-emerald-600);
  --mb-primary-700:var(--mb-emerald-700);
  --mb-primary-800:var(--mb-emerald-800);
  --mb-primary-900:var(--mb-emerald-900);
  --mb-primary-950:var(--mb-emerald-950);
  --mb-focus-ring-width:1px;
  --mb-focus-ring-style:solid;
  --mb-focus-ring-color:var(--mb-primary-color);
  --mb-focus-ring-offset:2px;
  --mb-focus-ring-shadow:none;
  --mb-navigation-submenu-icon-color:var(--mb-surface-400);
  --mb-navigation-submenu-icon-focus-color:var(--mb-surface-500);
  --mb-navigation-submenu-icon-active-color:var(--mb-surface-500);
  --mb-navigation-submenu-label-background:transparent;
  --mb-navigation-submenu-label-color:var(--mb-text-muted-color);
  --mb-navigation-item-focus-background:var(--mb-surface-100);
  --mb-navigation-item-active-background:var(--mb-surface-100);
  --mb-navigation-item-color:var(--mb-text-color);
  --mb-navigation-item-focus-color:var(--mb-text-hover-color);
  --mb-navigation-item-active-color:var(--mb-text-hover-color);
  --mb-navigation-item-icon-color:var(--mb-surface-400);
  --mb-navigation-item-icon-focus-color:var(--mb-surface-500);
  --mb-navigation-item-icon-active-color:var(--mb-surface-500);
  --mb-surface-ground:var(--mb-content-hover-background);
  --mb-surface-section:var(--mb-content-background);
  --mb-surface-card:var(--mb-content-background);
  --mb-surface-overlay:var(--mb-content-background);
  --mb-surface-border:var(--mb-content-border-color);
  --mb-surface-hover:var(--mb-content-hover-background);
  --mb-list-option-group-background:transparent;
  --mb-list-option-group-color:var(--mb-text-muted-color);
  --mb-list-option-focus-background:var(--mb-surface-100);
  --mb-list-option-selected-background:var(--mb-highlight-background);
  --mb-list-option-selected-focus-background:var(--mb-highlight-focus-background);
  --mb-list-option-color:var(--mb-text-color);
  --mb-list-option-focus-color:var(--mb-text-hover-color);
  --mb-list-option-selected-color:var(--mb-highlight-color);
  --mb-list-option-selected-focus-color:var(--mb-highlight-focus-color);
  --mb-list-option-icon-color:var(--mb-surface-400);
  --mb-list-option-icon-focus-color:var(--mb-surface-500);
  --mb-list-item-padding:var(--mb-list-option-padding);
  --mb-list-item-border-radius:var(--mb-list-option-border-radius);
  --mb-list-item-gap:var(--mb-navigation-item-gap);
  --mb-list-item-color:var(--mb-list-option-color);
  --mb-list-item-icon-color:var(--mb-list-option-icon-color);
  --mb-list-item-focus-background:var(--mb-list-option-focus-background);
  --mb-list-item-focus-color:var(--mb-list-option-focus-color);
  --mb-list-item-focus-icon-color:var(--mb-list-option-icon-focus-color);
  --mb-list-item-selected-background:var(--mb-list-option-selected-background);
  --mb-list-item-selected-focus-background:var(--mb-list-option-selected-focus-background);
  --mb-list-item-selected-color:var(--mb-list-option-selected-color);
  --mb-list-item-selected-icon-color:var(--mb-list-option-icon-color);
  --mb-list-item-selected-focus-icon-color:var(--mb-list-option-icon-focus-color);
  --mb-overlay-modal-background:var(--mb-surface-0);
  --mb-overlay-modal-border-color:var(--mb-surface-200);
  --mb-overlay-modal-color:var(--mb-text-color);
  --mb-overlay-drawer-background:var(--mb-overlay-modal-background);
  --mb-overlay-drawer-border-color:var(--mb-overlay-modal-border-color);
  --mb-overlay-drawer-border-radius:var(--mb-overlay-modal-border-radius);
  --mb-overlay-drawer-color:var(--mb-overlay-modal-color);
  --mb-overlay-drawer-shadow:var(--mb-overlay-modal-shadow);
  --mb-overlay-popover-background:var(--mb-surface-0);
  --mb-overlay-popover-border-color:var(--mb-surface-200);
  --mb-overlay-popover-color:var(--mb-text-color);
  --mb-overlay-select-background:var(--mb-surface-0);
  --mb-overlay-select-border-color:var(--mb-surface-200);
  --mb-overlay-select-color:var(--mb-text-color);
  --mb-content-background:var(--mb-surface-0);
  --mb-content-hover-background:var(--mb-surface-100);
  --mb-content-border-color:var(--mb-surface-200);
  --mb-content-color:var(--mb-text-color);
  --mb-content-hover-color:var(--mb-text-hover-color);
  --mb-text-color:var(--mb-surface-700);
  --mb-text-hover-color:var(--mb-surface-800);
  --mb-text-muted-color:var(--mb-surface-500);
  --mb-text-color-secondary:var(--mb-text-muted-color);
  --mb-text-hover-muted-color:var(--mb-surface-600);
  --mb-form-field-background:var(--mb-surface-0);
  --mb-form-field-disabled-background:var(--mb-surface-200);
  --mb-form-field-filled-background:var(--mb-surface-50);
  --mb-form-field-filled-hover-background:var(--mb-surface-50);
  --mb-form-field-filled-focus-background:var(--mb-surface-50);
  --mb-form-field-border-color:var(--mb-surface-300);
  --mb-form-field-hover-border-color:var(--mb-surface-400);
  --mb-form-field-focus-border-color:var(--mb-primary-color);
  --mb-form-field-invalid-border-color:var(--mb-red-400);
  --mb-form-field-color:var(--mb-surface-700);
  --mb-form-field-disabled-color:var(--mb-surface-500);
  --mb-form-field-placeholder-color:var(--mb-surface-500);
  --mb-form-field-invalid-placeholder-color:var(--mb-red-600);
  --mb-form-field-float-label-color:var(--mb-surface-500);
  --mb-form-field-float-label-focus-color:var(--mb-primary-600);
  --mb-form-field-float-label-active-color:var(--mb-surface-500);
  --mb-form-field-float-label-invalid-color:var(--mb-form-field-invalid-placeholder-color);
  --mb-form-field-icon-color:var(--mb-surface-400);
  --mb-form-field-shadow:0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
  --mb-mask-background:rgba(0,0,0,0.4);
  --mb-mask-color:var(--mb-surface-200);
  --mb-highlight-background:var(--mb-primary-50);
  --mb-highlight-focus-background:var(--mb-primary-100);
  --mb-highlight-color:var(--mb-primary-700);
  --mb-highlight-focus-color:var(--mb-primary-800);
  --mb-primary-color:var(--mb-primary-500);
  --mb-primary-contrast-color:#ffffff;
  --mb-primary-hover-color:var(--mb-primary-600);
  --mb-primary-active-color:var(--mb-primary-700);
  --mb-surface-0:#ffffff;
  --mb-surface-50:var(--mb-slate-50);
  --mb-surface-100:var(--mb-slate-100);
  --mb-surface-200:var(--mb-slate-200);
  --mb-surface-300:var(--mb-slate-300);
  --mb-surface-400:var(--mb-slate-400);
  --mb-surface-500:var(--mb-slate-500);
  --mb-surface-600:var(--mb-slate-600);
  --mb-surface-700:var(--mb-slate-700);
  --mb-surface-800:var(--mb-slate-800);
  --mb-surface-900:var(--mb-slate-900);
  --mb-surface-950:var(--mb-slate-950);
  color-scheme:light;
}

[data-mb-theme="dark"] {
  --mb-navigation-submenu-icon-color:var(--mb-surface-500);
  --mb-navigation-submenu-icon-focus-color:var(--mb-surface-400);
  --mb-navigation-submenu-icon-active-color:var(--mb-surface-400);
  --mb-navigation-submenu-label-background:transparent;
  --mb-navigation-submenu-label-color:var(--mb-text-muted-color);
  --mb-navigation-item-focus-background:var(--mb-surface-800);
  --mb-navigation-item-active-background:var(--mb-surface-800);
  --mb-navigation-item-color:var(--mb-text-color);
  --mb-navigation-item-focus-color:var(--mb-text-hover-color);
  --mb-navigation-item-active-color:var(--mb-text-hover-color);
  --mb-navigation-item-icon-color:var(--mb-surface-500);
  --mb-navigation-item-icon-focus-color:var(--mb-surface-400);
  --mb-navigation-item-icon-active-color:var(--mb-surface-400);
  --mb-list-option-group-background:transparent;
  --mb-list-option-group-color:var(--mb-text-muted-color);
  --mb-list-option-focus-background:var(--mb-surface-800);
  --mb-list-option-selected-background:var(--mb-highlight-background);
  --mb-list-option-selected-focus-background:var(--mb-highlight-focus-background);
  --mb-list-option-color:var(--mb-text-color);
  --mb-list-option-focus-color:var(--mb-text-hover-color);
  --mb-list-option-selected-color:var(--mb-highlight-color);
  --mb-list-option-selected-focus-color:var(--mb-highlight-focus-color);
  --mb-list-option-icon-color:var(--mb-surface-500);
  --mb-list-option-icon-focus-color:var(--mb-surface-400);
  --mb-overlay-modal-background:var(--mb-surface-900);
  --mb-overlay-modal-border-color:var(--mb-surface-700);
  --mb-overlay-modal-color:var(--mb-text-color);
  --mb-overlay-popover-background:var(--mb-surface-900);
  --mb-overlay-popover-border-color:var(--mb-surface-700);
  --mb-overlay-popover-color:var(--mb-text-color);
  --mb-overlay-select-background:var(--mb-surface-900);
  --mb-overlay-select-border-color:var(--mb-surface-700);
  --mb-overlay-select-color:var(--mb-text-color);
  --mb-content-background:var(--mb-surface-900);
  --mb-content-hover-background:var(--mb-surface-800);
  --mb-content-border-color:var(--mb-surface-700);
  --mb-content-color:var(--mb-text-color);
  --mb-content-hover-color:var(--mb-text-hover-color);
  --mb-text-color:var(--mb-surface-0);
  --mb-text-hover-color:var(--mb-surface-0);
  --mb-text-muted-color:var(--mb-surface-400);
  --mb-text-hover-muted-color:var(--mb-surface-300);
  --mb-form-field-background:var(--mb-surface-950);
  --mb-form-field-disabled-background:var(--mb-surface-700);
  --mb-form-field-filled-background:var(--mb-surface-800);
  --mb-form-field-filled-hover-background:var(--mb-surface-800);
  --mb-form-field-filled-focus-background:var(--mb-surface-800);
  --mb-form-field-border-color:var(--mb-surface-600);
  --mb-form-field-hover-border-color:var(--mb-surface-500);
  --mb-form-field-focus-border-color:var(--mb-primary-color);
  --mb-form-field-invalid-border-color:var(--mb-red-300);
  --mb-form-field-color:var(--mb-surface-0);
  --mb-form-field-disabled-color:var(--mb-surface-400);
  --mb-form-field-placeholder-color:var(--mb-surface-400);
  --mb-form-field-invalid-placeholder-color:var(--mb-red-400);
  --mb-form-field-float-label-color:var(--mb-surface-400);
  --mb-form-field-float-label-focus-color:var(--mb-primary-color);
  --mb-form-field-float-label-active-color:var(--mb-surface-400);
  --mb-form-field-float-label-invalid-color:var(--mb-form-field-invalid-placeholder-color);
  --mb-form-field-icon-color:var(--mb-surface-400);
  --mb-form-field-shadow:0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
  --mb-mask-background:rgba(0,0,0,0.6);
  --mb-mask-color:var(--mb-surface-200);
  --mb-highlight-background:color-mix(in srgb, var(--mb-primary-400), transparent 84%);
  --mb-highlight-focus-background:color-mix(in srgb, var(--mb-primary-400), transparent 76%);
  --mb-highlight-color:rgba(255,255,255,.87);
  --mb-highlight-focus-color:rgba(255,255,255,.87);
  --mb-primary-color:var(--mb-primary-400);
  --mb-primary-contrast-color:var(--mb-surface-900);
  --mb-primary-hover-color:var(--mb-primary-300);
  --mb-primary-active-color:var(--mb-primary-200);
  --mb-surface-0:#ffffff;
  --mb-surface-50:var(--mb-zinc-50);
  --mb-surface-100:var(--mb-zinc-100);
  --mb-surface-200:var(--mb-zinc-200);
  --mb-surface-300:var(--mb-zinc-300);
  --mb-surface-400:var(--mb-zinc-400);
  --mb-surface-500:var(--mb-zinc-500);
  --mb-surface-600:var(--mb-zinc-600);
  --mb-surface-700:var(--mb-zinc-700);
  --mb-surface-800:var(--mb-zinc-800);
  --mb-surface-900:var(--mb-zinc-900);
  --mb-surface-950:var(--mb-zinc-950);
  color-scheme:dark;
}

.mb-component {
  font-family: var(--mb-font-family);
  font-feature-settings: var(--mb-font-feature-settings);
  font-size: 1rem;
  font-weight: normal;
  color: var(--mb-text-color);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
