:root {
  --mb-autocomplete-empty-message-padding:var(--mb-list-option-padding);
  --mb-autocomplete-chip-border-radius:var(--mb-border-radius-sm);
  --mb-autocomplete-dropdown-width:2.5rem;
  --mb-autocomplete-dropdown-border-color:var(--mb-form-field-border-color);
  --mb-autocomplete-dropdown-hover-border-color:var(--mb-form-field-border-color);
  --mb-autocomplete-dropdown-active-border-color:var(--mb-form-field-border-color);
  --mb-autocomplete-dropdown-border-radius:var(--mb-form-field-border-radius);
  --mb-autocomplete-dropdown-focus-ring-width:var(--mb-focus-ring-width);
  --mb-autocomplete-dropdown-focus-ring-style:var(--mb-focus-ring-style);
  --mb-autocomplete-dropdown-focus-ring-color:var(--mb-focus-ring-color);
  --mb-autocomplete-dropdown-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-autocomplete-dropdown-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-autocomplete-dropdown-lg-width:3rem;
  --mb-autocomplete-dropdown-sm-width:2rem;
  --mb-autocomplete-option-group-background:var(--mb-list-option-group-background);
  --mb-autocomplete-option-group-color:var(--mb-list-option-group-color);
  --mb-autocomplete-option-group-font-weight:var(--mb-list-option-group-font-weight);
  --mb-autocomplete-option-group-padding:var(--mb-list-option-group-padding);
  --mb-autocomplete-option-focus-background:var(--mb-list-option-focus-background);
  --mb-autocomplete-option-selected-background:var(--mb-list-option-selected-background);
  --mb-autocomplete-option-selected-focus-background:var(--mb-list-option-selected-focus-background);
  --mb-autocomplete-option-color:var(--mb-list-option-color);
  --mb-autocomplete-option-focus-color:var(--mb-list-option-focus-color);
  --mb-autocomplete-option-selected-color:var(--mb-list-option-selected-color);
  --mb-autocomplete-option-selected-focus-color:var(--mb-list-option-selected-focus-color);
  --mb-autocomplete-option-padding:var(--mb-list-option-padding);
  --mb-autocomplete-option-border-radius:var(--mb-list-option-border-radius);
  --mb-autocomplete-list-padding:var(--mb-list-padding);
  --mb-autocomplete-list-gap:var(--mb-list-gap);
  --mb-autocomplete-overlay-background:var(--mb-overlay-select-background);
  --mb-autocomplete-overlay-border-color:var(--mb-overlay-select-border-color);
  --mb-autocomplete-overlay-border-radius:var(--mb-overlay-select-border-radius);
  --mb-autocomplete-overlay-color:var(--mb-overlay-select-color);
  --mb-autocomplete-overlay-shadow:var(--mb-overlay-select-shadow);
  --mb-autocomplete-background:var(--mb-form-field-background);
  --mb-autocomplete-disabled-background:var(--mb-form-field-disabled-background);
  --mb-autocomplete-filled-background:var(--mb-form-field-filled-background);
  --mb-autocomplete-filled-hover-background:var(--mb-form-field-filled-hover-background);
  --mb-autocomplete-filled-focus-background:var(--mb-form-field-filled-focus-background);
  --mb-autocomplete-border-color:var(--mb-form-field-border-color);
  --mb-autocomplete-hover-border-color:var(--mb-form-field-hover-border-color);
  --mb-autocomplete-focus-border-color:var(--mb-form-field-focus-border-color);
  --mb-autocomplete-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-autocomplete-color:var(--mb-form-field-color);
  --mb-autocomplete-disabled-color:var(--mb-form-field-disabled-color);
  --mb-autocomplete-placeholder-color:var(--mb-form-field-placeholder-color);
  --mb-autocomplete-invalid-placeholder-color:var(--mb-form-field-invalid-placeholder-color);
  --mb-autocomplete-shadow:var(--mb-form-field-shadow);
  --mb-autocomplete-padding-x:var(--mb-form-field-padding-x);
  --mb-autocomplete-padding-y:var(--mb-form-field-padding-y);
  --mb-autocomplete-border-radius:var(--mb-form-field-border-radius);
  --mb-autocomplete-transition-duration:var(--mb-form-field-transition-duration);
  --mb-autocomplete-focus-ring-width:var(--mb-form-field-focus-ring-width);
  --mb-autocomplete-focus-ring-style:var(--mb-form-field-focus-ring-style);
  --mb-autocomplete-focus-ring-color:var(--mb-form-field-focus-ring-color);
  --mb-autocomplete-focus-ring-offset:var(--mb-form-field-focus-ring-offset);
  --mb-autocomplete-focus-ring-shadow:var(--mb-form-field-focus-ring-shadow);
  --mb-autocomplete-dropdown-background:var(--mb-surface-100);
  --mb-autocomplete-dropdown-hover-background:var(--mb-surface-200);
  --mb-autocomplete-dropdown-active-background:var(--mb-surface-300);
  --mb-autocomplete-dropdown-color:var(--mb-surface-600);
  --mb-autocomplete-dropdown-hover-color:var(--mb-surface-700);
  --mb-autocomplete-dropdown-active-color:var(--mb-surface-800);
  --mb-autocomplete-chip-focus-background:var(--mb-surface-200);
  --mb-autocomplete-chip-focus-color:var(--mb-surface-800);
}

[data-mb-theme="dark"] {
  --mb-autocomplete-dropdown-background:var(--mb-surface-800);
  --mb-autocomplete-dropdown-hover-background:var(--mb-surface-700);
  --mb-autocomplete-dropdown-active-background:var(--mb-surface-600);
  --mb-autocomplete-dropdown-color:var(--mb-surface-300);
  --mb-autocomplete-dropdown-hover-color:var(--mb-surface-200);
  --mb-autocomplete-dropdown-active-color:var(--mb-surface-100);
  --mb-autocomplete-chip-focus-background:var(--mb-surface-700);
  --mb-autocomplete-chip-focus-color:var(--mb-surface-0);
}
