:root {
  --mb-button-border-radius:var(--mb-form-field-border-radius);
  --mb-button-rounded-border-radius:2rem;
  --mb-button-gap:0.5rem;
  --mb-button-padding-x:var(--mb-form-field-padding-x);
  --mb-button-padding-y:var(--mb-form-field-padding-y);
  --mb-button-icon-only-width:2.5rem;
  --mb-button-raised-shadow:0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --mb-button-badge-size:1rem;
  --mb-button-transition-duration:var(--mb-form-field-transition-duration);
  --mb-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-button-label-font-weight:500;
  --mb-button-lg-font-size:var(--mb-form-field-lg-font-size);
  --mb-button-lg-padding-x:var(--mb-form-field-lg-padding-x);
  --mb-button-lg-padding-y:var(--mb-form-field-lg-padding-y);
  --mb-button-lg-icon-only-width:3rem;
  --mb-button-sm-font-size:var(--mb-form-field-sm-font-size);
  --mb-button-sm-padding-x:var(--mb-form-field-sm-padding-x);
  --mb-button-sm-padding-y:var(--mb-form-field-sm-padding-y);
  --mb-button-sm-icon-only-width:2rem;
  --mb-button-link-color:var(--mb-primary-color);
  --mb-button-link-hover-color:var(--mb-primary-color);
  --mb-button-link-active-color:var(--mb-primary-color);
  --mb-button-text-plain-hover-background:var(--mb-surface-50);
  --mb-button-text-plain-active-background:var(--mb-surface-100);
  --mb-button-text-plain-color:var(--mb-surface-700);
  --mb-button-text-contrast-hover-background:var(--mb-surface-50);
  --mb-button-text-contrast-active-background:var(--mb-surface-100);
  --mb-button-text-contrast-color:var(--mb-surface-950);
  --mb-button-text-danger-hover-background:var(--mb-red-50);
  --mb-button-text-danger-active-background:var(--mb-red-100);
  --mb-button-text-danger-color:var(--mb-red-500);
  --mb-button-text-help-hover-background:var(--mb-purple-50);
  --mb-button-text-help-active-background:var(--mb-purple-100);
  --mb-button-text-help-color:var(--mb-purple-500);
  --mb-button-text-warn-hover-background:var(--mb-orange-50);
  --mb-button-text-warn-active-background:var(--mb-orange-100);
  --mb-button-text-warn-color:var(--mb-orange-500);
  --mb-button-text-info-hover-background:var(--mb-sky-50);
  --mb-button-text-info-active-background:var(--mb-sky-100);
  --mb-button-text-info-color:var(--mb-sky-500);
  --mb-button-text-success-hover-background:var(--mb-green-50);
  --mb-button-text-success-active-background:var(--mb-green-100);
  --mb-button-text-success-color:var(--mb-green-500);
  --mb-button-text-secondary-hover-background:var(--mb-surface-50);
  --mb-button-text-secondary-active-background:var(--mb-surface-100);
  --mb-button-text-secondary-color:var(--mb-surface-500);
  --mb-button-text-primary-hover-background:var(--mb-primary-50);
  --mb-button-text-primary-active-background:var(--mb-primary-100);
  --mb-button-text-primary-color:var(--mb-primary-color);
  --mb-button-outlined-plain-hover-background:var(--mb-surface-50);
  --mb-button-outlined-plain-active-background:var(--mb-surface-100);
  --mb-button-outlined-plain-border-color:var(--mb-surface-200);
  --mb-button-outlined-plain-color:var(--mb-surface-700);
  --mb-button-outlined-contrast-hover-background:var(--mb-surface-50);
  --mb-button-outlined-contrast-active-background:var(--mb-surface-100);
  --mb-button-outlined-contrast-border-color:var(--mb-surface-700);
  --mb-button-outlined-contrast-color:var(--mb-surface-950);
  --mb-button-outlined-danger-hover-background:var(--mb-red-50);
  --mb-button-outlined-danger-active-background:var(--mb-red-100);
  --mb-button-outlined-danger-border-color:var(--mb-red-200);
  --mb-button-outlined-danger-color:var(--mb-red-500);
  --mb-button-outlined-help-hover-background:var(--mb-purple-50);
  --mb-button-outlined-help-active-background:var(--mb-purple-100);
  --mb-button-outlined-help-border-color:var(--mb-purple-200);
  --mb-button-outlined-help-color:var(--mb-purple-500);
  --mb-button-outlined-warn-hover-background:var(--mb-orange-50);
  --mb-button-outlined-warn-active-background:var(--mb-orange-100);
  --mb-button-outlined-warn-border-color:var(--mb-orange-200);
  --mb-button-outlined-warn-color:var(--mb-orange-500);
  --mb-button-outlined-info-hover-background:var(--mb-sky-50);
  --mb-button-outlined-info-active-background:var(--mb-sky-100);
  --mb-button-outlined-info-border-color:var(--mb-sky-200);
  --mb-button-outlined-info-color:var(--mb-sky-500);
  --mb-button-outlined-success-hover-background:var(--mb-green-50);
  --mb-button-outlined-success-active-background:var(--mb-green-100);
  --mb-button-outlined-success-border-color:var(--mb-green-200);
  --mb-button-outlined-success-color:var(--mb-green-500);
  --mb-button-outlined-secondary-hover-background:var(--mb-surface-50);
  --mb-button-outlined-secondary-active-background:var(--mb-surface-100);
  --mb-button-outlined-secondary-border-color:var(--mb-surface-200);
  --mb-button-outlined-secondary-color:var(--mb-surface-500);
  --mb-button-outlined-primary-hover-background:var(--mb-primary-50);
  --mb-button-outlined-primary-active-background:var(--mb-primary-100);
  --mb-button-outlined-primary-border-color:var(--mb-primary-200);
  --mb-button-outlined-primary-color:var(--mb-primary-color);
  --mb-button-contrast-background:var(--mb-surface-950);
  --mb-button-contrast-hover-background:var(--mb-surface-900);
  --mb-button-contrast-active-background:var(--mb-surface-800);
  --mb-button-contrast-border-color:var(--mb-surface-950);
  --mb-button-contrast-hover-border-color:var(--mb-surface-900);
  --mb-button-contrast-active-border-color:var(--mb-surface-800);
  --mb-button-contrast-color:var(--mb-surface-0);
  --mb-button-contrast-hover-color:var(--mb-surface-0);
  --mb-button-contrast-active-color:var(--mb-surface-0);
  --mb-button-contrast-focus-ring-color:var(--mb-surface-950);
  --mb-button-contrast-focus-ring-shadow:none;
  --mb-button-danger-background:var(--mb-red-500);
  --mb-button-danger-hover-background:var(--mb-red-600);
  --mb-button-danger-active-background:var(--mb-red-700);
  --mb-button-danger-border-color:var(--mb-red-500);
  --mb-button-danger-hover-border-color:var(--mb-red-600);
  --mb-button-danger-active-border-color:var(--mb-red-700);
  --mb-button-danger-color:#ffffff;
  --mb-button-danger-hover-color:#ffffff;
  --mb-button-danger-active-color:#ffffff;
  --mb-button-danger-focus-ring-color:var(--mb-red-500);
  --mb-button-danger-focus-ring-shadow:none;
  --mb-button-help-background:var(--mb-purple-500);
  --mb-button-help-hover-background:var(--mb-purple-600);
  --mb-button-help-active-background:var(--mb-purple-700);
  --mb-button-help-border-color:var(--mb-purple-500);
  --mb-button-help-hover-border-color:var(--mb-purple-600);
  --mb-button-help-active-border-color:var(--mb-purple-700);
  --mb-button-help-color:#ffffff;
  --mb-button-help-hover-color:#ffffff;
  --mb-button-help-active-color:#ffffff;
  --mb-button-help-focus-ring-color:var(--mb-purple-500);
  --mb-button-help-focus-ring-shadow:none;
  --mb-button-warn-background:var(--mb-orange-500);
  --mb-button-warn-hover-background:var(--mb-orange-600);
  --mb-button-warn-active-background:var(--mb-orange-700);
  --mb-button-warn-border-color:var(--mb-orange-500);
  --mb-button-warn-hover-border-color:var(--mb-orange-600);
  --mb-button-warn-active-border-color:var(--mb-orange-700);
  --mb-button-warn-color:#ffffff;
  --mb-button-warn-hover-color:#ffffff;
  --mb-button-warn-active-color:#ffffff;
  --mb-button-warn-focus-ring-color:var(--mb-orange-500);
  --mb-button-warn-focus-ring-shadow:none;
  --mb-button-success-background:var(--mb-green-500);
  --mb-button-success-hover-background:var(--mb-green-600);
  --mb-button-success-active-background:var(--mb-green-700);
  --mb-button-success-border-color:var(--mb-green-500);
  --mb-button-success-hover-border-color:var(--mb-green-600);
  --mb-button-success-active-border-color:var(--mb-green-700);
  --mb-button-success-color:#ffffff;
  --mb-button-success-hover-color:#ffffff;
  --mb-button-success-active-color:#ffffff;
  --mb-button-success-focus-ring-color:var(--mb-green-500);
  --mb-button-success-focus-ring-shadow:none;
  --mb-button-info-background:var(--mb-sky-500);
  --mb-button-info-hover-background:var(--mb-sky-600);
  --mb-button-info-active-background:var(--mb-sky-700);
  --mb-button-info-border-color:var(--mb-sky-500);
  --mb-button-info-hover-border-color:var(--mb-sky-600);
  --mb-button-info-active-border-color:var(--mb-sky-700);
  --mb-button-info-color:#ffffff;
  --mb-button-info-hover-color:#ffffff;
  --mb-button-info-active-color:#ffffff;
  --mb-button-info-focus-ring-color:var(--mb-sky-500);
  --mb-button-info-focus-ring-shadow:none;
  --mb-button-secondary-background:var(--mb-surface-100);
  --mb-button-secondary-hover-background:var(--mb-surface-200);
  --mb-button-secondary-active-background:var(--mb-surface-300);
  --mb-button-secondary-border-color:var(--mb-surface-100);
  --mb-button-secondary-hover-border-color:var(--mb-surface-200);
  --mb-button-secondary-active-border-color:var(--mb-surface-300);
  --mb-button-secondary-color:var(--mb-surface-600);
  --mb-button-secondary-hover-color:var(--mb-surface-700);
  --mb-button-secondary-active-color:var(--mb-surface-800);
  --mb-button-secondary-focus-ring-color:var(--mb-surface-600);
  --mb-button-secondary-focus-ring-shadow:none;
  --mb-button-primary-background:var(--mb-primary-color);
  --mb-button-primary-hover-background:var(--mb-primary-hover-color);
  --mb-button-primary-active-background:var(--mb-primary-active-color);
  --mb-button-primary-border-color:var(--mb-primary-color);
  --mb-button-primary-hover-border-color:var(--mb-primary-hover-color);
  --mb-button-primary-active-border-color:var(--mb-primary-active-color);
  --mb-button-primary-color:var(--mb-primary-contrast-color);
  --mb-button-primary-hover-color:var(--mb-primary-contrast-color);
  --mb-button-primary-active-color:var(--mb-primary-contrast-color);
  --mb-button-primary-focus-ring-color:var(--mb-primary-color);
  --mb-button-primary-focus-ring-shadow:none;
}

[data-mb-theme="dark"] {
  --mb-button-link-color:var(--mb-primary-color);
  --mb-button-link-hover-color:var(--mb-primary-color);
  --mb-button-link-active-color:var(--mb-primary-color);
  --mb-button-text-plain-hover-background:var(--mb-surface-800);
  --mb-button-text-plain-active-background:var(--mb-surface-700);
  --mb-button-text-plain-color:var(--mb-surface-0);
  --mb-button-text-contrast-hover-background:var(--mb-surface-800);
  --mb-button-text-contrast-active-background:var(--mb-surface-700);
  --mb-button-text-contrast-color:var(--mb-surface-0);
  --mb-button-text-danger-hover-background:color-mix(in srgb, var(--mb-red-400), transparent 96%);
  --mb-button-text-danger-active-background:color-mix(in srgb, var(--mb-red-400), transparent 84%);
  --mb-button-text-danger-color:var(--mb-red-400);
  --mb-button-text-help-hover-background:color-mix(in srgb, var(--mb-purple-400), transparent 96%);
  --mb-button-text-help-active-background:color-mix(in srgb, var(--mb-purple-400), transparent 84%);
  --mb-button-text-help-color:var(--mb-purple-400);
  --mb-button-text-warn-hover-background:color-mix(in srgb, var(--mb-orange-400), transparent 96%);
  --mb-button-text-warn-active-background:color-mix(in srgb, var(--mb-orange-400), transparent 84%);
  --mb-button-text-warn-color:var(--mb-orange-400);
  --mb-button-text-info-hover-background:color-mix(in srgb, var(--mb-sky-400), transparent 96%);
  --mb-button-text-info-active-background:color-mix(in srgb, var(--mb-sky-400), transparent 84%);
  --mb-button-text-info-color:var(--mb-sky-400);
  --mb-button-text-success-hover-background:color-mix(in srgb, var(--mb-green-400), transparent 96%);
  --mb-button-text-success-active-background:color-mix(in srgb, var(--mb-green-400), transparent 84%);
  --mb-button-text-success-color:var(--mb-green-400);
  --mb-button-text-secondary-hover-background:var(--mb-surface-800);
  --mb-button-text-secondary-active-background:var(--mb-surface-700);
  --mb-button-text-secondary-color:var(--mb-surface-400);
  --mb-button-text-primary-hover-background:color-mix(in srgb, var(--mb-primary-color), transparent 96%);
  --mb-button-text-primary-active-background:color-mix(in srgb, var(--mb-primary-color), transparent 84%);
  --mb-button-text-primary-color:var(--mb-primary-color);
  --mb-button-outlined-plain-hover-background:var(--mb-surface-800);
  --mb-button-outlined-plain-active-background:var(--mb-surface-700);
  --mb-button-outlined-plain-border-color:var(--mb-surface-600);
  --mb-button-outlined-plain-color:var(--mb-surface-0);
  --mb-button-outlined-contrast-hover-background:var(--mb-surface-800);
  --mb-button-outlined-contrast-active-background:var(--mb-surface-700);
  --mb-button-outlined-contrast-border-color:var(--mb-surface-500);
  --mb-button-outlined-contrast-color:var(--mb-surface-0);
  --mb-button-outlined-danger-hover-background:color-mix(in srgb, var(--mb-red-400), transparent 96%);
  --mb-button-outlined-danger-active-background:color-mix(in srgb, var(--mb-red-400), transparent 84%);
  --mb-button-outlined-danger-border-color:var(--mb-red-700);
  --mb-button-outlined-danger-color:var(--mb-red-400);
  --mb-button-outlined-help-hover-background:color-mix(in srgb, var(--mb-purple-400), transparent 96%);
  --mb-button-outlined-help-active-background:color-mix(in srgb, var(--mb-purple-400), transparent 84%);
  --mb-button-outlined-help-border-color:var(--mb-purple-700);
  --mb-button-outlined-help-color:var(--mb-purple-400);
  --mb-button-outlined-warn-hover-background:color-mix(in srgb, var(--mb-orange-400), transparent 96%);
  --mb-button-outlined-warn-active-background:color-mix(in srgb, var(--mb-orange-400), transparent 84%);
  --mb-button-outlined-warn-border-color:var(--mb-orange-700);
  --mb-button-outlined-warn-color:var(--mb-orange-400);
  --mb-button-outlined-info-hover-background:color-mix(in srgb, var(--mb-sky-400), transparent 96%);
  --mb-button-outlined-info-active-background:color-mix(in srgb, var(--mb-sky-400), transparent 84%);
  --mb-button-outlined-info-border-color:var(--mb-sky-700);
  --mb-button-outlined-info-color:var(--mb-sky-400);
  --mb-button-outlined-success-hover-background:color-mix(in srgb, var(--mb-green-400), transparent 96%);
  --mb-button-outlined-success-active-background:color-mix(in srgb, var(--mb-green-400), transparent 84%);
  --mb-button-outlined-success-border-color:var(--mb-green-700);
  --mb-button-outlined-success-color:var(--mb-green-400);
  --mb-button-outlined-secondary-hover-background:rgba(255,255,255,0.04);
  --mb-button-outlined-secondary-active-background:rgba(255,255,255,0.16);
  --mb-button-outlined-secondary-border-color:var(--mb-surface-700);
  --mb-button-outlined-secondary-color:var(--mb-surface-400);
  --mb-button-outlined-primary-hover-background:color-mix(in srgb, var(--mb-primary-color), transparent 96%);
  --mb-button-outlined-primary-active-background:color-mix(in srgb, var(--mb-primary-color), transparent 84%);
  --mb-button-outlined-primary-border-color:var(--mb-primary-700);
  --mb-button-outlined-primary-color:var(--mb-primary-color);
  --mb-button-contrast-background:var(--mb-surface-0);
  --mb-button-contrast-hover-background:var(--mb-surface-100);
  --mb-button-contrast-active-background:var(--mb-surface-200);
  --mb-button-contrast-border-color:var(--mb-surface-0);
  --mb-button-contrast-hover-border-color:var(--mb-surface-100);
  --mb-button-contrast-active-border-color:var(--mb-surface-200);
  --mb-button-contrast-color:var(--mb-surface-950);
  --mb-button-contrast-hover-color:var(--mb-surface-950);
  --mb-button-contrast-active-color:var(--mb-surface-950);
  --mb-button-contrast-focus-ring-color:var(--mb-surface-0);
  --mb-button-contrast-focus-ring-shadow:none;
  --mb-button-danger-background:var(--mb-red-400);
  --mb-button-danger-hover-background:var(--mb-red-300);
  --mb-button-danger-active-background:var(--mb-red-200);
  --mb-button-danger-border-color:var(--mb-red-400);
  --mb-button-danger-hover-border-color:var(--mb-red-300);
  --mb-button-danger-active-border-color:var(--mb-red-200);
  --mb-button-danger-color:var(--mb-red-950);
  --mb-button-danger-hover-color:var(--mb-red-950);
  --mb-button-danger-active-color:var(--mb-red-950);
  --mb-button-danger-focus-ring-color:var(--mb-red-400);
  --mb-button-danger-focus-ring-shadow:none;
  --mb-button-help-background:var(--mb-purple-400);
  --mb-button-help-hover-background:var(--mb-purple-300);
  --mb-button-help-active-background:var(--mb-purple-200);
  --mb-button-help-border-color:var(--mb-purple-400);
  --mb-button-help-hover-border-color:var(--mb-purple-300);
  --mb-button-help-active-border-color:var(--mb-purple-200);
  --mb-button-help-color:var(--mb-purple-950);
  --mb-button-help-hover-color:var(--mb-purple-950);
  --mb-button-help-active-color:var(--mb-purple-950);
  --mb-button-help-focus-ring-color:var(--mb-purple-400);
  --mb-button-help-focus-ring-shadow:none;
  --mb-button-warn-background:var(--mb-orange-400);
  --mb-button-warn-hover-background:var(--mb-orange-300);
  --mb-button-warn-active-background:var(--mb-orange-200);
  --mb-button-warn-border-color:var(--mb-orange-400);
  --mb-button-warn-hover-border-color:var(--mb-orange-300);
  --mb-button-warn-active-border-color:var(--mb-orange-200);
  --mb-button-warn-color:var(--mb-orange-950);
  --mb-button-warn-hover-color:var(--mb-orange-950);
  --mb-button-warn-active-color:var(--mb-orange-950);
  --mb-button-warn-focus-ring-color:var(--mb-orange-400);
  --mb-button-warn-focus-ring-shadow:none;
  --mb-button-success-background:var(--mb-green-400);
  --mb-button-success-hover-background:var(--mb-green-300);
  --mb-button-success-active-background:var(--mb-green-200);
  --mb-button-success-border-color:var(--mb-green-400);
  --mb-button-success-hover-border-color:var(--mb-green-300);
  --mb-button-success-active-border-color:var(--mb-green-200);
  --mb-button-success-color:var(--mb-green-950);
  --mb-button-success-hover-color:var(--mb-green-950);
  --mb-button-success-active-color:var(--mb-green-950);
  --mb-button-success-focus-ring-color:var(--mb-green-400);
  --mb-button-success-focus-ring-shadow:none;
  --mb-button-info-background:var(--mb-sky-400);
  --mb-button-info-hover-background:var(--mb-sky-300);
  --mb-button-info-active-background:var(--mb-sky-200);
  --mb-button-info-border-color:var(--mb-sky-400);
  --mb-button-info-hover-border-color:var(--mb-sky-300);
  --mb-button-info-active-border-color:var(--mb-sky-200);
  --mb-button-info-color:var(--mb-sky-950);
  --mb-button-info-hover-color:var(--mb-sky-950);
  --mb-button-info-active-color:var(--mb-sky-950);
  --mb-button-info-focus-ring-color:var(--mb-sky-400);
  --mb-button-info-focus-ring-shadow:none;
  --mb-button-secondary-background:var(--mb-surface-800);
  --mb-button-secondary-hover-background:var(--mb-surface-700);
  --mb-button-secondary-active-background:var(--mb-surface-600);
  --mb-button-secondary-border-color:var(--mb-surface-800);
  --mb-button-secondary-hover-border-color:var(--mb-surface-700);
  --mb-button-secondary-active-border-color:var(--mb-surface-600);
  --mb-button-secondary-color:var(--mb-surface-300);
  --mb-button-secondary-hover-color:var(--mb-surface-200);
  --mb-button-secondary-active-color:var(--mb-surface-100);
  --mb-button-secondary-focus-ring-color:var(--mb-surface-300);
  --mb-button-secondary-focus-ring-shadow:none;
  --mb-button-primary-background:var(--mb-primary-color);
  --mb-button-primary-hover-background:var(--mb-primary-hover-color);
  --mb-button-primary-active-background:var(--mb-primary-active-color);
  --mb-button-primary-border-color:var(--mb-primary-color);
  --mb-button-primary-hover-border-color:var(--mb-primary-hover-color);
  --mb-button-primary-active-border-color:var(--mb-primary-active-color);
  --mb-button-primary-color:var(--mb-primary-contrast-color);
  --mb-button-primary-hover-color:var(--mb-primary-contrast-color);
  --mb-button-primary-active-color:var(--mb-primary-contrast-color);
  --mb-button-primary-focus-ring-color:var(--mb-primary-color);
  --mb-button-primary-focus-ring-shadow:none;
}
