:root {
  --mb-cascadeselect-clear-icon-color:var(--mb-form-field-icon-color);
  --mb-cascadeselect-option-focus-background:var(--mb-list-option-focus-background);
  --mb-cascadeselect-option-selected-background:var(--mb-list-option-selected-background);
  --mb-cascadeselect-option-selected-focus-background:var(--mb-list-option-selected-focus-background);
  --mb-cascadeselect-option-color:var(--mb-list-option-color);
  --mb-cascadeselect-option-focus-color:var(--mb-list-option-focus-color);
  --mb-cascadeselect-option-selected-color:var(--mb-list-option-selected-color);
  --mb-cascadeselect-option-selected-focus-color:var(--mb-list-option-selected-focus-color);
  --mb-cascadeselect-option-padding:var(--mb-list-option-padding);
  --mb-cascadeselect-option-border-radius:var(--mb-list-option-border-radius);
  --mb-cascadeselect-option-icon-color:var(--mb-list-option-icon-color);
  --mb-cascadeselect-option-icon-focus-color:var(--mb-list-option-icon-focus-color);
  --mb-cascadeselect-option-icon-size:0.875rem;
  --mb-cascadeselect-list-padding:var(--mb-list-padding);
  --mb-cascadeselect-list-gap:var(--mb-list-gap);
  --mb-cascadeselect-list-mobile-indent:1rem;
  --mb-cascadeselect-overlay-background:var(--mb-overlay-select-background);
  --mb-cascadeselect-overlay-border-color:var(--mb-overlay-select-border-color);
  --mb-cascadeselect-overlay-border-radius:var(--mb-overlay-select-border-radius);
  --mb-cascadeselect-overlay-color:var(--mb-overlay-select-color);
  --mb-cascadeselect-overlay-shadow:var(--mb-overlay-select-shadow);
  --mb-cascadeselect-dropdown-width:2.5rem;
  --mb-cascadeselect-dropdown-color:var(--mb-form-field-icon-color);
  --mb-cascadeselect-background:var(--mb-form-field-background);
  --mb-cascadeselect-disabled-background:var(--mb-form-field-disabled-background);
  --mb-cascadeselect-filled-background:var(--mb-form-field-filled-background);
  --mb-cascadeselect-filled-hover-background:var(--mb-form-field-filled-hover-background);
  --mb-cascadeselect-filled-focus-background:var(--mb-form-field-filled-focus-background);
  --mb-cascadeselect-border-color:var(--mb-form-field-border-color);
  --mb-cascadeselect-hover-border-color:var(--mb-form-field-hover-border-color);
  --mb-cascadeselect-focus-border-color:var(--mb-form-field-focus-border-color);
  --mb-cascadeselect-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-cascadeselect-color:var(--mb-form-field-color);
  --mb-cascadeselect-disabled-color:var(--mb-form-field-disabled-color);
  --mb-cascadeselect-placeholder-color:var(--mb-form-field-placeholder-color);
  --mb-cascadeselect-invalid-placeholder-color:var(--mb-form-field-invalid-placeholder-color);
  --mb-cascadeselect-shadow:var(--mb-form-field-shadow);
  --mb-cascadeselect-padding-x:var(--mb-form-field-padding-x);
  --mb-cascadeselect-padding-y:var(--mb-form-field-padding-y);
  --mb-cascadeselect-border-radius:var(--mb-form-field-border-radius);
  --mb-cascadeselect-transition-duration:var(--mb-form-field-transition-duration);
  --mb-cascadeselect-lg-font-size:var(--mb-form-field-lg-font-size);
  --mb-cascadeselect-lg-padding-x:var(--mb-form-field-lg-padding-x);
  --mb-cascadeselect-lg-padding-y:var(--mb-form-field-lg-padding-y);
  --mb-cascadeselect-sm-font-size:var(--mb-form-field-sm-font-size);
  --mb-cascadeselect-sm-padding-x:var(--mb-form-field-sm-padding-x);
  --mb-cascadeselect-sm-padding-y:var(--mb-form-field-sm-padding-y);
  --mb-cascadeselect-focus-ring-width:var(--mb-form-field-focus-ring-width);
  --mb-cascadeselect-focus-ring-style:var(--mb-form-field-focus-ring-style);
  --mb-cascadeselect-focus-ring-color:var(--mb-form-field-focus-ring-color);
  --mb-cascadeselect-focus-ring-offset:var(--mb-form-field-focus-ring-offset);
  --mb-cascadeselect-focus-ring-shadow:var(--mb-form-field-focus-ring-shadow);
}
