:root {
  --mb-checkbox-icon-size:0.875rem;
  --mb-checkbox-icon-color:var(--mb-form-field-color);
  --mb-checkbox-icon-checked-color:var(--mb-primary-contrast-color);
  --mb-checkbox-icon-checked-hover-color:var(--mb-primary-contrast-color);
  --mb-checkbox-icon-disabled-color:var(--mb-form-field-disabled-color);
  --mb-checkbox-icon-lg-size:1rem;
  --mb-checkbox-icon-sm-size:0.75rem;
  --mb-checkbox-border-radius:var(--mb-border-radius-sm);
  --mb-checkbox-width:1.25rem;
  --mb-checkbox-height:1.25rem;
  --mb-checkbox-background:var(--mb-form-field-background);
  --mb-checkbox-checked-background:var(--mb-primary-color);
  --mb-checkbox-checked-hover-background:var(--mb-primary-hover-color);
  --mb-checkbox-disabled-background:var(--mb-form-field-disabled-background);
  --mb-checkbox-filled-background:var(--mb-form-field-filled-background);
  --mb-checkbox-border-color:var(--mb-form-field-border-color);
  --mb-checkbox-hover-border-color:var(--mb-form-field-hover-border-color);
  --mb-checkbox-focus-border-color:var(--mb-form-field-border-color);
  --mb-checkbox-checked-border-color:var(--mb-primary-color);
  --mb-checkbox-checked-hover-border-color:var(--mb-primary-hover-color);
  --mb-checkbox-checked-focus-border-color:var(--mb-primary-color);
  --mb-checkbox-checked-disabled-border-color:var(--mb-form-field-border-color);
  --mb-checkbox-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-checkbox-shadow:var(--mb-form-field-shadow);
  --mb-checkbox-transition-duration:var(--mb-form-field-transition-duration);
  --mb-checkbox-lg-width:1.5rem;
  --mb-checkbox-lg-height:1.5rem;
  --mb-checkbox-sm-width:1rem;
  --mb-checkbox-sm-height:1rem;
  --mb-checkbox-focus-ring-width:var(--mb-focus-ring-width);
  --mb-checkbox-focus-ring-style:var(--mb-focus-ring-style);
  --mb-checkbox-focus-ring-color:var(--mb-focus-ring-color);
  --mb-checkbox-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-checkbox-focus-ring-shadow:var(--mb-focus-ring-shadow);
}
