:root {
  --mb-datatable-paginator-bottom-border-color:var(--mb-datatable-border-color);
  --mb-datatable-paginator-bottom-border-width:0 0 1px 0;
  --mb-datatable-paginator-top-border-color:var(--mb-datatable-border-color);
  --mb-datatable-paginator-top-border-width:0 0 1px 0;
  --mb-datatable-filter-inline-gap:0.5rem;
  --mb-datatable-filter-constraint-focus-background:var(--mb-list-option-focus-background);
  --mb-datatable-filter-constraint-selected-background:var(--mb-list-option-selected-background);
  --mb-datatable-filter-constraint-selected-focus-background:var(--mb-list-option-selected-focus-background);
  --mb-datatable-filter-constraint-color:var(--mb-list-option-color);
  --mb-datatable-filter-constraint-focus-color:var(--mb-list-option-focus-color);
  --mb-datatable-filter-constraint-selected-color:var(--mb-list-option-selected-color);
  --mb-datatable-filter-constraint-selected-focus-color:var(--mb-list-option-selected-focus-color);
  --mb-datatable-filter-constraint-padding:var(--mb-list-option-padding);
  --mb-datatable-filter-constraint-border-radius:var(--mb-list-option-border-radius);
  --mb-datatable-filter-constraint-separator-border-color:var(--mb-content-border-color);
  --mb-datatable-filter-constraint-list-padding:var(--mb-list-padding);
  --mb-datatable-filter-constraint-list-gap:var(--mb-list-gap);
  --mb-datatable-filter-rule-border-color:var(--mb-content-border-color);
  --mb-datatable-filter-overlay-popover-background:var(--mb-overlay-popover-background);
  --mb-datatable-filter-overlay-popover-border-color:var(--mb-overlay-popover-border-color);
  --mb-datatable-filter-overlay-popover-border-radius:var(--mb-overlay-popover-border-radius);
  --mb-datatable-filter-overlay-popover-color:var(--mb-overlay-popover-color);
  --mb-datatable-filter-overlay-popover-shadow:var(--mb-overlay-popover-shadow);
  --mb-datatable-filter-overlay-popover-padding:var(--mb-overlay-popover-padding);
  --mb-datatable-filter-overlay-popover-gap:0.5rem;
  --mb-datatable-filter-overlay-select-background:var(--mb-overlay-select-background);
  --mb-datatable-filter-overlay-select-border-color:var(--mb-overlay-select-border-color);
  --mb-datatable-filter-overlay-select-border-radius:var(--mb-overlay-select-border-radius);
  --mb-datatable-filter-overlay-select-color:var(--mb-overlay-select-color);
  --mb-datatable-filter-overlay-select-shadow:var(--mb-overlay-select-shadow);
  --mb-datatable-row-toggle-button-hover-background:var(--mb-content-hover-background);
  --mb-datatable-row-toggle-button-selected-hover-background:var(--mb-content-background);
  --mb-datatable-row-toggle-button-color:var(--mb-text-muted-color);
  --mb-datatable-row-toggle-button-hover-color:var(--mb-text-color);
  --mb-datatable-row-toggle-button-selected-hover-color:var(--mb-primary-color);
  --mb-datatable-row-toggle-button-size:1.75rem;
  --mb-datatable-row-toggle-button-border-radius:50%;
  --mb-datatable-row-toggle-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-datatable-row-toggle-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-datatable-row-toggle-button-focus-ring-color:var(--mb-focus-ring-color);
  --mb-datatable-row-toggle-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-datatable-row-toggle-button-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-datatable-loading-icon-size:2rem;
  --mb-datatable-sort-icon-color:var(--mb-text-muted-color);
  --mb-datatable-sort-icon-hover-color:var(--mb-text-hover-muted-color);
  --mb-datatable-sort-icon-size:0.875rem;
  --mb-datatable-resize-indicator-width:1px;
  --mb-datatable-resize-indicator-color:var(--mb-primary-color);
  --mb-datatable-column-resizer-width:0.5rem;
  --mb-datatable-drop-point-color:var(--mb-primary-color);
  --mb-datatable-footer-background:var(--mb-content-background);
  --mb-datatable-footer-border-color:var(--mb-datatable-border-color);
  --mb-datatable-footer-color:var(--mb-content-color);
  --mb-datatable-footer-border-width:0 0 1px 0;
  --mb-datatable-footer-padding:0.75rem 1rem;
  --mb-datatable-footer-lg-padding:1rem 1.25rem;
  --mb-datatable-footer-sm-padding:0.375rem 0.5rem;
  --mb-datatable-column-footer-font-weight:600;
  --mb-datatable-footer-cell-background:var(--mb-content-background);
  --mb-datatable-footer-cell-border-color:var(--mb-datatable-border-color);
  --mb-datatable-footer-cell-color:var(--mb-content-color);
  --mb-datatable-footer-cell-padding:0.75rem 1rem;
  --mb-datatable-footer-cell-lg-padding:1rem 1.25rem;
  --mb-datatable-footer-cell-sm-padding:0.375rem 0.5rem;
  --mb-datatable-body-cell-border-color:var(--mb-datatable-border-color);
  --mb-datatable-body-cell-padding:0.75rem 1rem;
  --mb-datatable-body-cell-lg-padding:1rem 1.25rem;
  --mb-datatable-body-cell-sm-padding:0.375rem 0.5rem;
  --mb-datatable-row-background:var(--mb-content-background);
  --mb-datatable-row-hover-background:var(--mb-content-hover-background);
  --mb-datatable-row-selected-background:var(--mb-highlight-background);
  --mb-datatable-row-color:var(--mb-content-color);
  --mb-datatable-row-hover-color:var(--mb-content-hover-color);
  --mb-datatable-row-selected-color:var(--mb-highlight-color);
  --mb-datatable-row-focus-ring-width:var(--mb-focus-ring-width);
  --mb-datatable-row-focus-ring-style:var(--mb-focus-ring-style);
  --mb-datatable-row-focus-ring-color:var(--mb-focus-ring-color);
  --mb-datatable-row-focus-ring-offset:-1px;
  --mb-datatable-row-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-datatable-column-title-font-weight:600;
  --mb-datatable-header-cell-background:var(--mb-content-background);
  --mb-datatable-header-cell-hover-background:var(--mb-content-hover-background);
  --mb-datatable-header-cell-selected-background:var(--mb-highlight-background);
  --mb-datatable-header-cell-border-color:var(--mb-datatable-border-color);
  --mb-datatable-header-cell-color:var(--mb-content-color);
  --mb-datatable-header-cell-hover-color:var(--mb-content-hover-color);
  --mb-datatable-header-cell-selected-color:var(--mb-highlight-color);
  --mb-datatable-header-cell-gap:0.5rem;
  --mb-datatable-header-cell-padding:0.75rem 1rem;
  --mb-datatable-header-cell-lg-padding:1rem 1.25rem;
  --mb-datatable-header-cell-sm-padding:0.375rem 0.5rem;
  --mb-datatable-header-cell-focus-ring-width:var(--mb-focus-ring-width);
  --mb-datatable-header-cell-focus-ring-style:var(--mb-focus-ring-style);
  --mb-datatable-header-cell-focus-ring-color:var(--mb-focus-ring-color);
  --mb-datatable-header-cell-focus-ring-offset:-1px;
  --mb-datatable-header-cell-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-datatable-header-background:var(--mb-content-background);
  --mb-datatable-header-border-color:var(--mb-datatable-border-color);
  --mb-datatable-header-color:var(--mb-content-color);
  --mb-datatable-header-border-width:0 0 1px 0;
  --mb-datatable-header-padding:0.75rem 1rem;
  --mb-datatable-header-lg-padding:1rem 1.25rem;
  --mb-datatable-header-sm-padding:0.375rem 0.5rem;
  --mb-datatable-transition-duration:var(--mb-transition-duration);
  --mb-datatable-body-cell-selected-border-color:var(--mb-primary-100);
  --mb-datatable-row-striped-background:var(--mb-surface-50);
  --mb-datatable-border-color:var(--mb-content-border-color);
}

[data-mb-theme="dark"] {
  --mb-datatable-body-cell-selected-border-color:var(--mb-primary-900);
  --mb-datatable-row-striped-background:var(--mb-surface-950);
  --mb-datatable-border-color:var(--mb-surface-800);
}
