:root {
  --mb-datepicker-time-picker-padding:0.5rem 0 0 0;
  --mb-datepicker-time-picker-border-color:var(--mb-content-border-color);
  --mb-datepicker-time-picker-gap:0.5rem;
  --mb-datepicker-time-picker-button-gap:0.25rem;
  --mb-datepicker-buttonbar-padding:0.5rem 0 0 0;
  --mb-datepicker-buttonbar-border-color:var(--mb-content-border-color);
  --mb-datepicker-year-padding:0.375rem;
  --mb-datepicker-year-border-radius:var(--mb-content-border-radius);
  --mb-datepicker-year-view-margin:0.5rem 0 0 0;
  --mb-datepicker-month-padding:0.375rem;
  --mb-datepicker-month-border-radius:var(--mb-content-border-radius);
  --mb-datepicker-month-view-margin:0.5rem 0 0 0;
  --mb-datepicker-date-hover-background:var(--mb-content-hover-background);
  --mb-datepicker-date-selected-background:var(--mb-primary-color);
  --mb-datepicker-date-range-selected-background:var(--mb-highlight-background);
  --mb-datepicker-date-color:var(--mb-content-color);
  --mb-datepicker-date-hover-color:var(--mb-content-hover-color);
  --mb-datepicker-date-selected-color:var(--mb-primary-contrast-color);
  --mb-datepicker-date-range-selected-color:var(--mb-highlight-color);
  --mb-datepicker-date-width:2rem;
  --mb-datepicker-date-height:2rem;
  --mb-datepicker-date-border-radius:50%;
  --mb-datepicker-date-padding:0.25rem;
  --mb-datepicker-date-focus-ring-width:var(--mb-focus-ring-width);
  --mb-datepicker-date-focus-ring-style:var(--mb-focus-ring-style);
  --mb-datepicker-date-focus-ring-color:var(--mb-focus-ring-color);
  --mb-datepicker-date-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-datepicker-date-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-datepicker-week-day-padding:0.25rem;
  --mb-datepicker-week-day-font-weight:500;
  --mb-datepicker-week-day-color:var(--mb-content-color);
  --mb-datepicker-day-view-margin:0.5rem 0 0 0;
  --mb-datepicker-group-border-color:var(--mb-content-border-color);
  --mb-datepicker-group-gap:var(--mb-overlay-popover-padding);
  --mb-datepicker-select-year-hover-background:var(--mb-content-hover-background);
  --mb-datepicker-select-year-color:var(--mb-content-color);
  --mb-datepicker-select-year-hover-color:var(--mb-content-hover-color);
  --mb-datepicker-select-year-padding:0.25rem 0.5rem;
  --mb-datepicker-select-year-border-radius:var(--mb-content-border-radius);
  --mb-datepicker-select-month-hover-background:var(--mb-content-hover-background);
  --mb-datepicker-select-month-color:var(--mb-content-color);
  --mb-datepicker-select-month-hover-color:var(--mb-content-hover-color);
  --mb-datepicker-select-month-padding:0.25rem 0.5rem;
  --mb-datepicker-select-month-border-radius:var(--mb-content-border-radius);
  --mb-datepicker-input-icon-color:var(--mb-form-field-icon-color);
  --mb-datepicker-dropdown-width:2.5rem;
  --mb-datepicker-dropdown-border-color:var(--mb-form-field-border-color);
  --mb-datepicker-dropdown-hover-border-color:var(--mb-form-field-border-color);
  --mb-datepicker-dropdown-active-border-color:var(--mb-form-field-border-color);
  --mb-datepicker-dropdown-border-radius:var(--mb-form-field-border-radius);
  --mb-datepicker-dropdown-focus-ring-width:var(--mb-focus-ring-width);
  --mb-datepicker-dropdown-focus-ring-style:var(--mb-focus-ring-style);
  --mb-datepicker-dropdown-focus-ring-color:var(--mb-focus-ring-color);
  --mb-datepicker-dropdown-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-datepicker-dropdown-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-datepicker-dropdown-lg-width:3rem;
  --mb-datepicker-dropdown-sm-width:2rem;
  --mb-datepicker-title-gap:0.5rem;
  --mb-datepicker-title-font-weight:500;
  --mb-datepicker-header-background:var(--mb-content-background);
  --mb-datepicker-header-border-color:var(--mb-content-border-color);
  --mb-datepicker-header-color:var(--mb-content-color);
  --mb-datepicker-header-padding:0 0 0.5rem 0;
  --mb-datepicker-panel-background:var(--mb-content-background);
  --mb-datepicker-panel-border-color:var(--mb-content-border-color);
  --mb-datepicker-panel-color:var(--mb-content-color);
  --mb-datepicker-panel-border-radius:var(--mb-content-border-radius);
  --mb-datepicker-panel-shadow:var(--mb-overlay-popover-shadow);
  --mb-datepicker-panel-padding:var(--mb-overlay-popover-padding);
  --mb-datepicker-transition-duration:var(--mb-transition-duration);
  --mb-datepicker-today-background:var(--mb-surface-200);
  --mb-datepicker-today-color:var(--mb-surface-900);
  --mb-datepicker-dropdown-background:var(--mb-surface-100);
  --mb-datepicker-dropdown-hover-background:var(--mb-surface-200);
  --mb-datepicker-dropdown-active-background:var(--mb-surface-300);
  --mb-datepicker-dropdown-color:var(--mb-surface-600);
  --mb-datepicker-dropdown-hover-color:var(--mb-surface-700);
  --mb-datepicker-dropdown-active-color:var(--mb-surface-800);
}

[data-mb-theme="dark"] {
  --mb-datepicker-today-background:var(--mb-surface-700);
  --mb-datepicker-today-color:var(--mb-surface-0);
  --mb-datepicker-dropdown-background:var(--mb-surface-800);
  --mb-datepicker-dropdown-hover-background:var(--mb-surface-700);
  --mb-datepicker-dropdown-active-background:var(--mb-surface-600);
  --mb-datepicker-dropdown-color:var(--mb-surface-300);
  --mb-datepicker-dropdown-hover-color:var(--mb-surface-200);
  --mb-datepicker-dropdown-active-color:var(--mb-surface-100);
}
