:root {
  --mb-galleria-close-button-icon-size:1.5rem;
  --mb-galleria-close-button-size:3rem;
  --mb-galleria-close-button-gutter:0.5rem;
  --mb-galleria-close-button-background:rgba(255, 255, 255, 0.1);
  --mb-galleria-close-button-hover-background:rgba(255, 255, 255, 0.2);
  --mb-galleria-close-button-color:var(--mb-surface-50);
  --mb-galleria-close-button-hover-color:var(--mb-surface-0);
  --mb-galleria-close-button-border-radius:50%;
  --mb-galleria-close-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-galleria-close-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-galleria-close-button-focus-ring-color:var(--mb-focus-ring-color);
  --mb-galleria-close-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-galleria-close-button-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-galleria-inset-indicator-button-background:rgba(255, 255, 255, 0.4);
  --mb-galleria-inset-indicator-button-hover-background:rgba(255, 255, 255, 0.6);
  --mb-galleria-inset-indicator-button-active-background:rgba(255, 255, 255, 0.9);
  --mb-galleria-inset-indicator-list-background:rgba(0, 0, 0, 0.5);
  --mb-galleria-indicator-button-width:1rem;
  --mb-galleria-indicator-button-height:1rem;
  --mb-galleria-indicator-button-active-background:var(--mb-primary-color);
  --mb-galleria-indicator-button-border-radius:50%;
  --mb-galleria-indicator-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-galleria-indicator-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-galleria-indicator-button-focus-ring-color:var(--mb-focus-ring-color);
  --mb-galleria-indicator-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-galleria-indicator-button-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-galleria-indicator-list-gap:0.5rem;
  --mb-galleria-indicator-list-padding:1rem;
  --mb-galleria-caption-background:rgba(0, 0, 0, 0.5);
  --mb-galleria-caption-color:var(--mb-surface-100);
  --mb-galleria-caption-padding:1rem;
  --mb-galleria-thumbnail-nav-button-icon-size:1rem;
  --mb-galleria-thumbnail-nav-button-size:2rem;
  --mb-galleria-thumbnail-nav-button-border-radius:var(--mb-content-border-radius);
  --mb-galleria-thumbnail-nav-button-gutter:0.5rem;
  --mb-galleria-thumbnail-nav-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-galleria-thumbnail-nav-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-galleria-thumbnail-nav-button-focus-ring-color:var(--mb-focus-ring-color);
  --mb-galleria-thumbnail-nav-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-galleria-thumbnail-nav-button-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-galleria-thumbnails-content-background:var(--mb-content-background);
  --mb-galleria-thumbnails-content-padding:1rem 0.25rem;
  --mb-galleria-nav-icon-size:1.5rem;
  --mb-galleria-nav-button-background:rgba(255, 255, 255, 0.1);
  --mb-galleria-nav-button-hover-background:rgba(255, 255, 255, 0.2);
  --mb-galleria-nav-button-color:var(--mb-surface-100);
  --mb-galleria-nav-button-hover-color:var(--mb-surface-0);
  --mb-galleria-nav-button-size:3rem;
  --mb-galleria-nav-button-gutter:0.5rem;
  --mb-galleria-nav-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-galleria-nav-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-galleria-nav-button-focus-ring-color:var(--mb-focus-ring-color);
  --mb-galleria-nav-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-galleria-nav-button-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-galleria-nav-button-next-border-radius:50%;
  --mb-galleria-nav-button-prev-border-radius:50%;
  --mb-galleria-border-width:1px;
  --mb-galleria-border-color:var(--mb-content-border-color);
  --mb-galleria-border-radius:var(--mb-content-border-radius);
  --mb-galleria-transition-duration:var(--mb-transition-duration);
  --mb-galleria-indicator-button-background:var(--mb-surface-200);
  --mb-galleria-indicator-button-hover-background:var(--mb-surface-300);
  --mb-galleria-thumbnail-nav-button-hover-background:var(--mb-surface-100);
  --mb-galleria-thumbnail-nav-button-color:var(--mb-surface-600);
  --mb-galleria-thumbnail-nav-button-hover-color:var(--mb-surface-700);
}

[data-mb-theme="dark"] {
  --mb-galleria-indicator-button-background:var(--mb-surface-700);
  --mb-galleria-indicator-button-hover-background:var(--mb-surface-600);
  --mb-galleria-thumbnail-nav-button-hover-background:var(--mb-surface-700);
  --mb-galleria-thumbnail-nav-button-color:var(--mb-surface-400);
  --mb-galleria-thumbnail-nav-button-hover-color:var(--mb-surface-0);
}
