:root {
  --mb-image-action-hover-background:rgba(255,255,255,0.1);
  --mb-image-action-color:var(--mb-surface-50);
  --mb-image-action-hover-color:var(--mb-surface-0);
  --mb-image-action-size:3rem;
  --mb-image-action-icon-size:1.5rem;
  --mb-image-action-border-radius:50%;
  --mb-image-action-focus-ring-width:var(--mb-focus-ring-width);
  --mb-image-action-focus-ring-style:var(--mb-focus-ring-style);
  --mb-image-action-focus-ring-color:var(--mb-focus-ring-color);
  --mb-image-action-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-image-action-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-image-toolbar-blur:8px;
  --mb-image-toolbar-background:rgba(255,255,255,0.1);
  --mb-image-toolbar-border-color:rgba(255,255,255,0.2);
  --mb-image-toolbar-border-width:1px;
  --mb-image-toolbar-border-radius:30px;
  --mb-image-toolbar-padding:.5rem;
  --mb-image-toolbar-gap:0.5rem;
  --mb-image-toolbar-position-left:auto;
  --mb-image-toolbar-position-right:1rem;
  --mb-image-toolbar-position-top:1rem;
  --mb-image-toolbar-position-bottom:auto;
  --mb-image-preview-mask-background:var(--mb-mask-background);
  --mb-image-preview-mask-color:var(--mb-mask-color);
  --mb-image-preview-icon-size:1.5rem;
  --mb-image-transition-duration:var(--mb-transition-duration);
}
