:root {
  --mb-inputtext-background:var(--mb-form-field-background);
  --mb-inputtext-disabled-background:var(--mb-form-field-disabled-background);
  --mb-inputtext-filled-background:var(--mb-form-field-filled-background);
  --mb-inputtext-filled-hover-background:var(--mb-form-field-filled-hover-background);
  --mb-inputtext-filled-focus-background:var(--mb-form-field-filled-focus-background);
  --mb-inputtext-border-color:var(--mb-form-field-border-color);
  --mb-inputtext-hover-border-color:var(--mb-form-field-hover-border-color);
  --mb-inputtext-focus-border-color:var(--mb-form-field-focus-border-color);
  --mb-inputtext-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-inputtext-color:var(--mb-form-field-color);
  --mb-inputtext-disabled-color:var(--mb-form-field-disabled-color);
  --mb-inputtext-placeholder-color:var(--mb-form-field-placeholder-color);
  --mb-inputtext-invalid-placeholder-color:var(--mb-form-field-invalid-placeholder-color);
  --mb-inputtext-shadow:var(--mb-form-field-shadow);
  --mb-inputtext-padding-x:var(--mb-form-field-padding-x);
  --mb-inputtext-padding-y:var(--mb-form-field-padding-y);
  --mb-inputtext-border-radius:var(--mb-form-field-border-radius);
  --mb-inputtext-transition-duration:var(--mb-form-field-transition-duration);
  --mb-inputtext-lg-font-size:var(--mb-form-field-lg-font-size);
  --mb-inputtext-lg-padding-x:var(--mb-form-field-lg-padding-x);
  --mb-inputtext-lg-padding-y:var(--mb-form-field-lg-padding-y);
  --mb-inputtext-sm-font-size:var(--mb-form-field-sm-font-size);
  --mb-inputtext-sm-padding-x:var(--mb-form-field-sm-padding-x);
  --mb-inputtext-sm-padding-y:var(--mb-form-field-sm-padding-y);
  --mb-inputtext-focus-ring-width:var(--mb-form-field-focus-ring-width);
  --mb-inputtext-focus-ring-style:var(--mb-form-field-focus-ring-style);
  --mb-inputtext-focus-ring-color:var(--mb-form-field-focus-ring-color);
  --mb-inputtext-focus-ring-offset:var(--mb-form-field-focus-ring-offset);
  --mb-inputtext-focus-ring-shadow:var(--mb-form-field-focus-ring-shadow);
}
