:root {
  --mb-megamenu-mobile-button-border-radius:50%;
  --mb-megamenu-mobile-button-size:1.75rem;
  --mb-megamenu-mobile-button-color:var(--mb-text-muted-color);
  --mb-megamenu-mobile-button-hover-color:var(--mb-text-hover-muted-color);
  --mb-megamenu-mobile-button-hover-background:var(--mb-content-hover-background);
  --mb-megamenu-mobile-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-megamenu-mobile-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-megamenu-mobile-button-focus-ring-color:var(--mb-focus-ring-color);
  --mb-megamenu-mobile-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-megamenu-mobile-button-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-megamenu-separator-border-color:var(--mb-content-border-color);
  --mb-megamenu-submenu-icon-size:var(--mb-navigation-submenu-icon-size);
  --mb-megamenu-submenu-icon-color:var(--mb-navigation-submenu-icon-color);
  --mb-megamenu-submenu-icon-focus-color:var(--mb-navigation-submenu-icon-focus-color);
  --mb-megamenu-submenu-icon-active-color:var(--mb-navigation-submenu-icon-active-color);
  --mb-megamenu-submenu-label-padding:var(--mb-navigation-submenu-label-padding);
  --mb-megamenu-submenu-label-font-weight:var(--mb-navigation-submenu-label-font-weight);
  --mb-megamenu-submenu-label-background:var(--mb-navigation-submenu-label-background);
  --mb-megamenu-submenu-label-color:var(--mb-navigation-submenu-label-color);
  --mb-megamenu-submenu-padding:var(--mb-navigation-list-padding);
  --mb-megamenu-submenu-gap:var(--mb-navigation-list-gap);
  --mb-megamenu-overlay-padding:0;
  --mb-megamenu-overlay-background:var(--mb-content-background);
  --mb-megamenu-overlay-border-color:var(--mb-content-border-color);
  --mb-megamenu-overlay-border-radius:var(--mb-content-border-radius);
  --mb-megamenu-overlay-color:var(--mb-content-color);
  --mb-megamenu-overlay-shadow:var(--mb-overlay-navigation-shadow);
  --mb-megamenu-overlay-gap:0.5rem;
  --mb-megamenu-item-focus-background:var(--mb-navigation-item-focus-background);
  --mb-megamenu-item-active-background:var(--mb-navigation-item-active-background);
  --mb-megamenu-item-color:var(--mb-navigation-item-color);
  --mb-megamenu-item-focus-color:var(--mb-navigation-item-focus-color);
  --mb-megamenu-item-active-color:var(--mb-navigation-item-active-color);
  --mb-megamenu-item-padding:var(--mb-navigation-item-padding);
  --mb-megamenu-item-border-radius:var(--mb-navigation-item-border-radius);
  --mb-megamenu-item-gap:var(--mb-navigation-item-gap);
  --mb-megamenu-item-icon-color:var(--mb-navigation-item-icon-color);
  --mb-megamenu-item-icon-focus-color:var(--mb-navigation-item-icon-focus-color);
  --mb-megamenu-item-icon-active-color:var(--mb-navigation-item-icon-active-color);
  --mb-megamenu-base-item-border-radius:var(--mb-content-border-radius);
  --mb-megamenu-base-item-padding:var(--mb-navigation-item-padding);
  --mb-megamenu-background:var(--mb-content-background);
  --mb-megamenu-border-color:var(--mb-content-border-color);
  --mb-megamenu-border-radius:var(--mb-content-border-radius);
  --mb-megamenu-color:var(--mb-content-color);
  --mb-megamenu-gap:0.5rem;
  --mb-megamenu-transition-duration:var(--mb-transition-duration);
  --mb-megamenu-horizontal-orientation-padding:0.5rem 0.75rem;
  --mb-megamenu-horizontal-orientation-gap:0.5rem;
  --mb-megamenu-vertical-orientation-padding:var(--mb-navigation-list-padding);
  --mb-megamenu-vertical-orientation-gap:var(--mb-navigation-list-gap);
}
