:root {
  --mb-menubar-mobile-button-border-radius:50%;
  --mb-menubar-mobile-button-size:1.75rem;
  --mb-menubar-mobile-button-color:var(--mb-text-muted-color);
  --mb-menubar-mobile-button-hover-color:var(--mb-text-hover-muted-color);
  --mb-menubar-mobile-button-hover-background:var(--mb-content-hover-background);
  --mb-menubar-mobile-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-menubar-mobile-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-menubar-mobile-button-focus-ring-color:var(--mb-focus-ring-color);
  --mb-menubar-mobile-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-menubar-mobile-button-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-menubar-separator-border-color:var(--mb-content-border-color);
  --mb-menubar-submenu-padding:var(--mb-navigation-list-padding);
  --mb-menubar-submenu-gap:var(--mb-navigation-list-gap);
  --mb-menubar-submenu-background:var(--mb-content-background);
  --mb-menubar-submenu-border-color:var(--mb-content-border-color);
  --mb-menubar-submenu-border-radius:var(--mb-content-border-radius);
  --mb-menubar-submenu-shadow:var(--mb-overlay-navigation-shadow);
  --mb-menubar-submenu-mobile-indent:1rem;
  --mb-menubar-submenu-icon-size:var(--mb-navigation-submenu-icon-size);
  --mb-menubar-submenu-icon-color:var(--mb-navigation-submenu-icon-color);
  --mb-menubar-submenu-icon-focus-color:var(--mb-navigation-submenu-icon-focus-color);
  --mb-menubar-submenu-icon-active-color:var(--mb-navigation-submenu-icon-active-color);
  --mb-menubar-item-focus-background:var(--mb-navigation-item-focus-background);
  --mb-menubar-item-active-background:var(--mb-navigation-item-active-background);
  --mb-menubar-item-color:var(--mb-navigation-item-color);
  --mb-menubar-item-focus-color:var(--mb-navigation-item-focus-color);
  --mb-menubar-item-active-color:var(--mb-navigation-item-active-color);
  --mb-menubar-item-padding:var(--mb-navigation-item-padding);
  --mb-menubar-item-border-radius:var(--mb-navigation-item-border-radius);
  --mb-menubar-item-gap:var(--mb-navigation-item-gap);
  --mb-menubar-item-icon-color:var(--mb-navigation-item-icon-color);
  --mb-menubar-item-icon-focus-color:var(--mb-navigation-item-icon-focus-color);
  --mb-menubar-item-icon-active-color:var(--mb-navigation-item-icon-active-color);
  --mb-menubar-base-item-border-radius:var(--mb-content-border-radius);
  --mb-menubar-base-item-padding:var(--mb-navigation-item-padding);
  --mb-menubar-background:var(--mb-content-background);
  --mb-menubar-border-color:var(--mb-content-border-color);
  --mb-menubar-border-radius:var(--mb-content-border-radius);
  --mb-menubar-color:var(--mb-content-color);
  --mb-menubar-gap:0.5rem;
  --mb-menubar-padding:0.5rem 0.75rem;
  --mb-menubar-transition-duration:var(--mb-transition-duration);
}
