:root {
  --mb-message-simple-content-padding:0;
  --mb-message-outlined-border-width:1px;
  --mb-message-close-icon-size:1rem;
  --mb-message-close-icon-lg-size:1.125rem;
  --mb-message-close-icon-sm-size:0.875rem;
  --mb-message-close-button-width:1.75rem;
  --mb-message-close-button-height:1.75rem;
  --mb-message-close-button-border-radius:50%;
  --mb-message-close-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-message-close-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-message-close-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-message-icon-size:1.125rem;
  --mb-message-icon-lg-size:1.25rem;
  --mb-message-icon-sm-size:1rem;
  --mb-message-text-font-size:1rem;
  --mb-message-text-font-weight:500;
  --mb-message-text-lg-font-size:1.125rem;
  --mb-message-text-sm-font-size:0.875rem;
  --mb-message-content-padding:0.5rem 0.75rem;
  --mb-message-content-gap:0.5rem;
  --mb-message-content-lg-padding:0.625rem 0.875rem;
  --mb-message-content-sm-padding:0.375rem 0.625rem;
  --mb-message-border-radius:var(--mb-content-border-radius);
  --mb-message-border-width:1px;
  --mb-message-transition-duration:var(--mb-transition-duration);
  --mb-message-contrast-background:var(--mb-surface-900);
  --mb-message-contrast-border-color:var(--mb-surface-950);
  --mb-message-contrast-color:var(--mb-surface-50);
  --mb-message-contrast-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-surface-950), transparent 96%);
  --mb-message-contrast-simple-color:var(--mb-surface-950);
  --mb-message-contrast-outlined-color:var(--mb-surface-950);
  --mb-message-contrast-outlined-border-color:var(--mb-surface-950);
  --mb-message-contrast-close-button-hover-background:var(--mb-surface-800);
  --mb-message-contrast-close-button-focus-ring-color:var(--mb-surface-50);
  --mb-message-contrast-close-button-focus-ring-shadow:none;
  --mb-message-secondary-background:var(--mb-surface-100);
  --mb-message-secondary-border-color:var(--mb-surface-200);
  --mb-message-secondary-color:var(--mb-surface-600);
  --mb-message-secondary-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-surface-500), transparent 96%);
  --mb-message-secondary-simple-color:var(--mb-surface-500);
  --mb-message-secondary-outlined-color:var(--mb-surface-500);
  --mb-message-secondary-outlined-border-color:var(--mb-surface-500);
  --mb-message-secondary-close-button-hover-background:var(--mb-surface-200);
  --mb-message-secondary-close-button-focus-ring-color:var(--mb-surface-600);
  --mb-message-secondary-close-button-focus-ring-shadow:none;
  --mb-message-error-background:color-mix(in srgb, var(--mb-red-50), transparent 5%);
  --mb-message-error-border-color:var(--mb-red-200);
  --mb-message-error-color:var(--mb-red-600);
  --mb-message-error-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-red-500), transparent 96%);
  --mb-message-error-simple-color:var(--mb-red-600);
  --mb-message-error-outlined-color:var(--mb-red-600);
  --mb-message-error-outlined-border-color:var(--mb-red-600);
  --mb-message-error-close-button-hover-background:var(--mb-red-100);
  --mb-message-error-close-button-focus-ring-color:var(--mb-red-600);
  --mb-message-error-close-button-focus-ring-shadow:none;
  --mb-message-warn-background:color-mix(in srgb,var(--mb-yellow-50), transparent 5%);
  --mb-message-warn-border-color:var(--mb-yellow-200);
  --mb-message-warn-color:var(--mb-yellow-600);
  --mb-message-warn-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-yellow-500), transparent 96%);
  --mb-message-warn-simple-color:var(--mb-yellow-600);
  --mb-message-warn-outlined-color:var(--mb-yellow-600);
  --mb-message-warn-outlined-border-color:var(--mb-yellow-600);
  --mb-message-warn-close-button-hover-background:var(--mb-yellow-100);
  --mb-message-warn-close-button-focus-ring-color:var(--mb-yellow-600);
  --mb-message-warn-close-button-focus-ring-shadow:none;
  --mb-message-success-background:color-mix(in srgb, var(--mb-green-50), transparent 5%);
  --mb-message-success-border-color:var(--mb-green-200);
  --mb-message-success-color:var(--mb-green-600);
  --mb-message-success-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-green-500), transparent 96%);
  --mb-message-success-simple-color:var(--mb-green-600);
  --mb-message-success-outlined-color:var(--mb-green-600);
  --mb-message-success-outlined-border-color:var(--mb-green-600);
  --mb-message-success-close-button-hover-background:var(--mb-green-100);
  --mb-message-success-close-button-focus-ring-color:var(--mb-green-600);
  --mb-message-success-close-button-focus-ring-shadow:none;
  --mb-message-info-background:color-mix(in srgb, var(--mb-blue-50), transparent 5%);
  --mb-message-info-border-color:var(--mb-blue-200);
  --mb-message-info-color:var(--mb-blue-600);
  --mb-message-info-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-blue-500), transparent 96%);
  --mb-message-info-simple-color:var(--mb-blue-600);
  --mb-message-info-outlined-color:var(--mb-blue-600);
  --mb-message-info-outlined-border-color:var(--mb-blue-600);
  --mb-message-info-close-button-hover-background:var(--mb-blue-100);
  --mb-message-info-close-button-focus-ring-color:var(--mb-blue-600);
  --mb-message-info-close-button-focus-ring-shadow:none;
}

[data-mb-theme="dark"] {
  --mb-message-contrast-background:var(--mb-surface-0);
  --mb-message-contrast-border-color:var(--mb-surface-100);
  --mb-message-contrast-color:var(--mb-surface-950);
  --mb-message-contrast-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-surface-950), transparent 96%);
  --mb-message-contrast-simple-color:var(--mb-surface-0);
  --mb-message-contrast-outlined-color:var(--mb-surface-0);
  --mb-message-contrast-outlined-border-color:var(--mb-surface-0);
  --mb-message-contrast-close-button-hover-background:var(--mb-surface-100);
  --mb-message-contrast-close-button-focus-ring-color:var(--mb-surface-950);
  --mb-message-contrast-close-button-focus-ring-shadow:none;
  --mb-message-secondary-background:var(--mb-surface-800);
  --mb-message-secondary-border-color:var(--mb-surface-700);
  --mb-message-secondary-color:var(--mb-surface-300);
  --mb-message-secondary-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-surface-500), transparent 96%);
  --mb-message-secondary-simple-color:var(--mb-surface-400);
  --mb-message-secondary-outlined-color:var(--mb-surface-400);
  --mb-message-secondary-outlined-border-color:var(--mb-surface-400);
  --mb-message-secondary-close-button-hover-background:var(--mb-surface-700);
  --mb-message-secondary-close-button-focus-ring-color:var(--mb-surface-300);
  --mb-message-secondary-close-button-focus-ring-shadow:none;
  --mb-message-error-background:color-mix(in srgb, var(--mb-red-500), transparent 84%);
  --mb-message-error-border-color:color-mix(in srgb, var(--mb-red-700), transparent 64%);
  --mb-message-error-color:var(--mb-red-500);
  --mb-message-error-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-red-500), transparent 96%);
  --mb-message-error-simple-color:var(--mb-red-500);
  --mb-message-error-outlined-color:var(--mb-red-500);
  --mb-message-error-outlined-border-color:var(--mb-red-500);
  --mb-message-error-close-button-hover-background:rgba(255, 255, 255, 0.05);
  --mb-message-error-close-button-focus-ring-color:var(--mb-red-500);
  --mb-message-error-close-button-focus-ring-shadow:none;
  --mb-message-warn-background:color-mix(in srgb, var(--mb-yellow-500), transparent 84%);
  --mb-message-warn-border-color:color-mix(in srgb, var(--mb-yellow-700), transparent 64%);
  --mb-message-warn-color:var(--mb-yellow-500);
  --mb-message-warn-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-yellow-500), transparent 96%);
  --mb-message-warn-simple-color:var(--mb-yellow-500);
  --mb-message-warn-outlined-color:var(--mb-yellow-500);
  --mb-message-warn-outlined-border-color:var(--mb-yellow-500);
  --mb-message-warn-close-button-hover-background:rgba(255, 255, 255, 0.05);
  --mb-message-warn-close-button-focus-ring-color:var(--mb-yellow-500);
  --mb-message-warn-close-button-focus-ring-shadow:none;
  --mb-message-success-background:color-mix(in srgb, var(--mb-green-500), transparent 84%);
  --mb-message-success-border-color:color-mix(in srgb, var(--mb-green-700), transparent 64%);
  --mb-message-success-color:var(--mb-green-500);
  --mb-message-success-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-green-500), transparent 96%);
  --mb-message-success-simple-color:var(--mb-green-500);
  --mb-message-success-outlined-color:var(--mb-green-500);
  --mb-message-success-outlined-border-color:var(--mb-green-500);
  --mb-message-success-close-button-hover-background:rgba(255, 255, 255, 0.05);
  --mb-message-success-close-button-focus-ring-color:var(--mb-green-500);
  --mb-message-success-close-button-focus-ring-shadow:none;
  --mb-message-info-background:color-mix(in srgb, var(--mb-blue-500), transparent 84%);
  --mb-message-info-border-color:color-mix(in srgb, var(--mb-blue-700), transparent 64%);
  --mb-message-info-color:var(--mb-blue-500);
  --mb-message-info-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-blue-500), transparent 96%);
  --mb-message-info-simple-color:var(--mb-blue-500);
  --mb-message-info-outlined-color:var(--mb-blue-500);
  --mb-message-info-outlined-border-color:var(--mb-blue-500);
  --mb-message-info-close-button-hover-background:rgba(255, 255, 255, 0.05);
  --mb-message-info-close-button-focus-ring-color:var(--mb-blue-500);
  --mb-message-info-close-button-focus-ring-shadow:none;
}
