:root {
  --mb-multiselect-empty-message-padding:var(--mb-list-option-padding);
  --mb-multiselect-clear-icon-color:var(--mb-form-field-icon-color);
  --mb-multiselect-chip-border-radius:var(--mb-border-radius-sm);
  --mb-multiselect-option-group-background:var(--mb-list-option-group-background);
  --mb-multiselect-option-group-color:var(--mb-list-option-group-color);
  --mb-multiselect-option-group-font-weight:var(--mb-list-option-group-font-weight);
  --mb-multiselect-option-group-padding:var(--mb-list-option-group-padding);
  --mb-multiselect-option-focus-background:var(--mb-list-option-focus-background);
  --mb-multiselect-option-selected-background:var(--mb-list-option-selected-background);
  --mb-multiselect-option-selected-focus-background:var(--mb-list-option-selected-focus-background);
  --mb-multiselect-option-color:var(--mb-list-option-color);
  --mb-multiselect-option-focus-color:var(--mb-list-option-focus-color);
  --mb-multiselect-option-selected-color:var(--mb-list-option-selected-color);
  --mb-multiselect-option-selected-focus-color:var(--mb-list-option-selected-focus-color);
  --mb-multiselect-option-padding:var(--mb-list-option-padding);
  --mb-multiselect-option-border-radius:var(--mb-list-option-border-radius);
  --mb-multiselect-option-gap:0.5rem;
  --mb-multiselect-list-padding:var(--mb-list-padding);
  --mb-multiselect-list-gap:var(--mb-list-gap);
  --mb-multiselect-list-header-padding:var(--mb-list-header-padding);
  --mb-multiselect-overlay-background:var(--mb-overlay-select-background);
  --mb-multiselect-overlay-border-color:var(--mb-overlay-select-border-color);
  --mb-multiselect-overlay-border-radius:var(--mb-overlay-select-border-radius);
  --mb-multiselect-overlay-color:var(--mb-overlay-select-color);
  --mb-multiselect-overlay-shadow:var(--mb-overlay-select-shadow);
  --mb-multiselect-dropdown-width:2.5rem;
  --mb-multiselect-dropdown-color:var(--mb-form-field-icon-color);
  --mb-multiselect-background:var(--mb-form-field-background);
  --mb-multiselect-disabled-background:var(--mb-form-field-disabled-background);
  --mb-multiselect-filled-background:var(--mb-form-field-filled-background);
  --mb-multiselect-filled-hover-background:var(--mb-form-field-filled-hover-background);
  --mb-multiselect-filled-focus-background:var(--mb-form-field-filled-focus-background);
  --mb-multiselect-border-color:var(--mb-form-field-border-color);
  --mb-multiselect-hover-border-color:var(--mb-form-field-hover-border-color);
  --mb-multiselect-focus-border-color:var(--mb-form-field-focus-border-color);
  --mb-multiselect-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-multiselect-color:var(--mb-form-field-color);
  --mb-multiselect-disabled-color:var(--mb-form-field-disabled-color);
  --mb-multiselect-placeholder-color:var(--mb-form-field-placeholder-color);
  --mb-multiselect-invalid-placeholder-color:var(--mb-form-field-invalid-placeholder-color);
  --mb-multiselect-shadow:var(--mb-form-field-shadow);
  --mb-multiselect-padding-x:var(--mb-form-field-padding-x);
  --mb-multiselect-padding-y:var(--mb-form-field-padding-y);
  --mb-multiselect-border-radius:var(--mb-form-field-border-radius);
  --mb-multiselect-transition-duration:var(--mb-form-field-transition-duration);
  --mb-multiselect-lg-font-size:var(--mb-form-field-lg-font-size);
  --mb-multiselect-lg-padding-x:var(--mb-form-field-lg-padding-x);
  --mb-multiselect-lg-padding-y:var(--mb-form-field-lg-padding-y);
  --mb-multiselect-sm-font-size:var(--mb-form-field-sm-font-size);
  --mb-multiselect-sm-padding-x:var(--mb-form-field-sm-padding-x);
  --mb-multiselect-sm-padding-y:var(--mb-form-field-sm-padding-y);
  --mb-multiselect-focus-ring-width:var(--mb-form-field-focus-ring-width);
  --mb-multiselect-focus-ring-style:var(--mb-form-field-focus-ring-style);
  --mb-multiselect-focus-ring-color:var(--mb-form-field-focus-ring-color);
  --mb-multiselect-focus-ring-offset:var(--mb-form-field-focus-ring-offset);
  --mb-multiselect-focus-ring-shadow:var(--mb-form-field-focus-ring-shadow);
}
