:root {
  --mb-password-content-gap:0.5rem;
  --mb-password-overlay-background:var(--mb-overlay-popover-background);
  --mb-password-overlay-border-color:var(--mb-overlay-popover-border-color);
  --mb-password-overlay-border-radius:var(--mb-overlay-popover-border-radius);
  --mb-password-overlay-color:var(--mb-overlay-popover-color);
  --mb-password-overlay-padding:var(--mb-overlay-popover-padding);
  --mb-password-overlay-shadow:var(--mb-overlay-popover-shadow);
  --mb-password-icon-color:var(--mb-form-field-icon-color);
  --mb-password-meter-background:var(--mb-content-border-color);
  --mb-password-meter-border-radius:var(--mb-content-border-radius);
  --mb-password-meter-height:.75rem;
  --mb-password-strength-weak-background:var(--mb-red-500);
  --mb-password-strength-medium-background:var(--mb-amber-500);
  --mb-password-strength-strong-background:var(--mb-green-500);
}

[data-mb-theme="dark"] {
  --mb-password-strength-weak-background:var(--mb-red-400);
  --mb-password-strength-medium-background:var(--mb-amber-400);
  --mb-password-strength-strong-background:var(--mb-green-400);
}
