:root {
  --mb-radiobutton-icon-size:0.75rem;
  --mb-radiobutton-icon-checked-color:var(--mb-primary-contrast-color);
  --mb-radiobutton-icon-checked-hover-color:var(--mb-primary-contrast-color);
  --mb-radiobutton-icon-disabled-color:var(--mb-form-field-disabled-color);
  --mb-radiobutton-icon-lg-size:1rem;
  --mb-radiobutton-icon-sm-size:0.5rem;
  --mb-radiobutton-width:1.25rem;
  --mb-radiobutton-height:1.25rem;
  --mb-radiobutton-background:var(--mb-form-field-background);
  --mb-radiobutton-checked-background:var(--mb-primary-color);
  --mb-radiobutton-checked-hover-background:var(--mb-primary-hover-color);
  --mb-radiobutton-disabled-background:var(--mb-form-field-disabled-background);
  --mb-radiobutton-filled-background:var(--mb-form-field-filled-background);
  --mb-radiobutton-border-color:var(--mb-form-field-border-color);
  --mb-radiobutton-hover-border-color:var(--mb-form-field-hover-border-color);
  --mb-radiobutton-focus-border-color:var(--mb-form-field-border-color);
  --mb-radiobutton-checked-border-color:var(--mb-primary-color);
  --mb-radiobutton-checked-hover-border-color:var(--mb-primary-hover-color);
  --mb-radiobutton-checked-focus-border-color:var(--mb-primary-color);
  --mb-radiobutton-checked-disabled-border-color:var(--mb-form-field-border-color);
  --mb-radiobutton-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-radiobutton-shadow:var(--mb-form-field-shadow);
  --mb-radiobutton-transition-duration:var(--mb-form-field-transition-duration);
  --mb-radiobutton-lg-width:1.5rem;
  --mb-radiobutton-lg-height:1.5rem;
  --mb-radiobutton-sm-width:1rem;
  --mb-radiobutton-sm-height:1rem;
  --mb-radiobutton-focus-ring-width:var(--mb-focus-ring-width);
  --mb-radiobutton-focus-ring-style:var(--mb-focus-ring-style);
  --mb-radiobutton-focus-ring-color:var(--mb-focus-ring-color);
  --mb-radiobutton-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-radiobutton-focus-ring-shadow:var(--mb-focus-ring-shadow);
}
