:root {
  --mb-select-empty-message-padding:var(--mb-list-option-padding);
  --mb-select-checkmark-color:var(--mb-list-option-color);
  --mb-select-checkmark-gutter-start:-0.375rem;
  --mb-select-checkmark-gutter-end:0.375rem;
  --mb-select-clear-icon-color:var(--mb-form-field-icon-color);
  --mb-select-option-group-background:var(--mb-list-option-group-background);
  --mb-select-option-group-color:var(--mb-list-option-group-color);
  --mb-select-option-group-font-weight:var(--mb-list-option-group-font-weight);
  --mb-select-option-group-padding:var(--mb-list-option-group-padding);
  --mb-select-option-focus-background:var(--mb-list-option-focus-background);
  --mb-select-option-selected-background:var(--mb-list-option-selected-background);
  --mb-select-option-selected-focus-background:var(--mb-list-option-selected-focus-background);
  --mb-select-option-color:var(--mb-list-option-color);
  --mb-select-option-focus-color:var(--mb-list-option-focus-color);
  --mb-select-option-selected-color:var(--mb-list-option-selected-color);
  --mb-select-option-selected-focus-color:var(--mb-list-option-selected-focus-color);
  --mb-select-option-padding:var(--mb-list-option-padding);
  --mb-select-option-border-radius:var(--mb-list-option-border-radius);
  --mb-select-list-padding:var(--mb-list-padding);
  --mb-select-list-gap:var(--mb-list-gap);
  --mb-select-list-header-padding:var(--mb-list-header-padding);
  --mb-select-overlay-background:var(--mb-overlay-select-background);
  --mb-select-overlay-border-color:var(--mb-overlay-select-border-color);
  --mb-select-overlay-border-radius:var(--mb-overlay-select-border-radius);
  --mb-select-overlay-color:var(--mb-overlay-select-color);
  --mb-select-overlay-shadow:var(--mb-overlay-select-shadow);
  --mb-select-dropdown-width:2.5rem;
  --mb-select-dropdown-color:var(--mb-form-field-icon-color);
  --mb-select-background:var(--mb-form-field-background);
  --mb-select-disabled-background:var(--mb-form-field-disabled-background);
  --mb-select-filled-background:var(--mb-form-field-filled-background);
  --mb-select-filled-hover-background:var(--mb-form-field-filled-hover-background);
  --mb-select-filled-focus-background:var(--mb-form-field-filled-focus-background);
  --mb-select-border-color:var(--mb-form-field-border-color);
  --mb-select-hover-border-color:var(--mb-form-field-hover-border-color);
  --mb-select-focus-border-color:var(--mb-form-field-focus-border-color);
  --mb-select-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-select-color:var(--mb-form-field-color);
  --mb-select-disabled-color:var(--mb-form-field-disabled-color);
  --mb-select-placeholder-color:var(--mb-form-field-placeholder-color);
  --mb-select-invalid-placeholder-color:var(--mb-form-field-invalid-placeholder-color);
  --mb-select-shadow:var(--mb-form-field-shadow);
  --mb-select-padding-x:var(--mb-form-field-padding-x);
  --mb-select-padding-y:var(--mb-form-field-padding-y);
  --mb-select-border-radius:var(--mb-form-field-border-radius);
  --mb-select-transition-duration:var(--mb-form-field-transition-duration);
  --mb-select-lg-font-size:var(--mb-form-field-lg-font-size);
  --mb-select-lg-padding-x:var(--mb-form-field-lg-padding-x);
  --mb-select-lg-padding-y:var(--mb-form-field-lg-padding-y);
  --mb-select-sm-font-size:var(--mb-form-field-sm-font-size);
  --mb-select-sm-padding-x:var(--mb-form-field-sm-padding-x);
  --mb-select-sm-padding-y:var(--mb-form-field-sm-padding-y);
  --mb-select-focus-ring-width:var(--mb-form-field-focus-ring-width);
  --mb-select-focus-ring-style:var(--mb-form-field-focus-ring-style);
  --mb-select-focus-ring-color:var(--mb-form-field-focus-ring-color);
  --mb-select-focus-ring-offset:var(--mb-form-field-focus-ring-offset);
  --mb-select-focus-ring-shadow:var(--mb-form-field-focus-ring-shadow);
}
