:root {
  --mb-textarea-background:var(--mb-form-field-background);
  --mb-textarea-disabled-background:var(--mb-form-field-disabled-background);
  --mb-textarea-filled-background:var(--mb-form-field-filled-background);
  --mb-textarea-filled-hover-background:var(--mb-form-field-filled-hover-background);
  --mb-textarea-filled-focus-background:var(--mb-form-field-filled-focus-background);
  --mb-textarea-border-color:var(--mb-form-field-border-color);
  --mb-textarea-hover-border-color:var(--mb-form-field-hover-border-color);
  --mb-textarea-focus-border-color:var(--mb-form-field-focus-border-color);
  --mb-textarea-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-textarea-color:var(--mb-form-field-color);
  --mb-textarea-disabled-color:var(--mb-form-field-disabled-color);
  --mb-textarea-placeholder-color:var(--mb-form-field-placeholder-color);
  --mb-textarea-invalid-placeholder-color:var(--mb-form-field-invalid-placeholder-color);
  --mb-textarea-shadow:var(--mb-form-field-shadow);
  --mb-textarea-padding-x:var(--mb-form-field-padding-x);
  --mb-textarea-padding-y:var(--mb-form-field-padding-y);
  --mb-textarea-border-radius:var(--mb-form-field-border-radius);
  --mb-textarea-transition-duration:var(--mb-form-field-transition-duration);
  --mb-textarea-lg-font-size:var(--mb-form-field-lg-font-size);
  --mb-textarea-lg-padding-x:var(--mb-form-field-lg-padding-x);
  --mb-textarea-lg-padding-y:var(--mb-form-field-lg-padding-y);
  --mb-textarea-sm-font-size:var(--mb-form-field-sm-font-size);
  --mb-textarea-sm-padding-x:var(--mb-form-field-sm-padding-x);
  --mb-textarea-sm-padding-y:var(--mb-form-field-sm-padding-y);
  --mb-textarea-focus-ring-width:var(--mb-form-field-focus-ring-width);
  --mb-textarea-focus-ring-style:var(--mb-form-field-focus-ring-style);
  --mb-textarea-focus-ring-color:var(--mb-form-field-focus-ring-color);
  --mb-textarea-focus-ring-offset:var(--mb-form-field-focus-ring-offset);
  --mb-textarea-focus-ring-shadow:var(--mb-form-field-focus-ring-shadow);
}
