:root {
  --mb-toast-close-icon-size:1rem;
  --mb-toast-close-button-width:1.75rem;
  --mb-toast-close-button-height:1.75rem;
  --mb-toast-close-button-border-radius:50%;
  --mb-toast-close-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-toast-close-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-toast-close-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-toast-detail-font-weight:500;
  --mb-toast-detail-font-size:0.875rem;
  --mb-toast-summary-font-weight:500;
  --mb-toast-summary-font-size:1rem;
  --mb-toast-text-gap:0.5rem;
  --mb-toast-content-padding:var(--mb-overlay-popover-padding);
  --mb-toast-content-gap:0.5rem;
  --mb-toast-icon-size:1.125rem;
  --mb-toast-width:25rem;
  --mb-toast-border-radius:var(--mb-content-border-radius);
  --mb-toast-border-width:1px;
  --mb-toast-transition-duration:var(--mb-transition-duration);
  --mb-toast-contrast-background:var(--mb-surface-900);
  --mb-toast-contrast-border-color:var(--mb-surface-950);
  --mb-toast-contrast-color:var(--mb-surface-50);
  --mb-toast-contrast-detail-color:var(--mb-surface-0);
  --mb-toast-contrast-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-surface-950), transparent 96%);
  --mb-toast-contrast-close-button-hover-background:var(--mb-surface-800);
  --mb-toast-contrast-close-button-focus-ring-color:var(--mb-surface-50);
  --mb-toast-contrast-close-button-focus-ring-shadow:none;
  --mb-toast-secondary-background:var(--mb-surface-100);
  --mb-toast-secondary-border-color:var(--mb-surface-200);
  --mb-toast-secondary-color:var(--mb-surface-600);
  --mb-toast-secondary-detail-color:var(--mb-surface-700);
  --mb-toast-secondary-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-surface-500), transparent 96%);
  --mb-toast-secondary-close-button-hover-background:var(--mb-surface-200);
  --mb-toast-secondary-close-button-focus-ring-color:var(--mb-surface-600);
  --mb-toast-secondary-close-button-focus-ring-shadow:none;
  --mb-toast-error-background:color-mix(in srgb, var(--mb-red-50), transparent 5%);
  --mb-toast-error-border-color:var(--mb-red-200);
  --mb-toast-error-color:var(--mb-red-600);
  --mb-toast-error-detail-color:var(--mb-surface-700);
  --mb-toast-error-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-red-500), transparent 96%);
  --mb-toast-error-close-button-hover-background:var(--mb-red-100);
  --mb-toast-error-close-button-focus-ring-color:var(--mb-red-600);
  --mb-toast-error-close-button-focus-ring-shadow:none;
  --mb-toast-warn-background:color-mix(in srgb,var(--mb-yellow-50), transparent 5%);
  --mb-toast-warn-border-color:var(--mb-yellow-200);
  --mb-toast-warn-color:var(--mb-yellow-600);
  --mb-toast-warn-detail-color:var(--mb-surface-700);
  --mb-toast-warn-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-yellow-500), transparent 96%);
  --mb-toast-warn-close-button-hover-background:var(--mb-yellow-100);
  --mb-toast-warn-close-button-focus-ring-color:var(--mb-yellow-600);
  --mb-toast-warn-close-button-focus-ring-shadow:none;
  --mb-toast-success-background:color-mix(in srgb, var(--mb-green-50), transparent 5%);
  --mb-toast-success-border-color:var(--mb-green-200);
  --mb-toast-success-color:var(--mb-green-600);
  --mb-toast-success-detail-color:var(--mb-surface-700);
  --mb-toast-success-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-green-500), transparent 96%);
  --mb-toast-success-close-button-hover-background:var(--mb-green-100);
  --mb-toast-success-close-button-focus-ring-color:var(--mb-green-600);
  --mb-toast-success-close-button-focus-ring-shadow:none;
  --mb-toast-info-background:color-mix(in srgb, var(--mb-blue-50), transparent 5%);
  --mb-toast-info-border-color:var(--mb-blue-200);
  --mb-toast-info-color:var(--mb-blue-600);
  --mb-toast-info-detail-color:var(--mb-surface-700);
  --mb-toast-info-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-blue-500), transparent 96%);
  --mb-toast-info-close-button-hover-background:var(--mb-blue-100);
  --mb-toast-info-close-button-focus-ring-color:var(--mb-blue-600);
  --mb-toast-info-close-button-focus-ring-shadow:none;
  --mb-toast-blur:1.5px;
}

[data-mb-theme="dark"] {
  --mb-toast-contrast-background:var(--mb-surface-0);
  --mb-toast-contrast-border-color:var(--mb-surface-100);
  --mb-toast-contrast-color:var(--mb-surface-950);
  --mb-toast-contrast-detail-color:var(--mb-surface-950);
  --mb-toast-contrast-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-surface-950), transparent 96%);
  --mb-toast-contrast-close-button-hover-background:var(--mb-surface-100);
  --mb-toast-contrast-close-button-focus-ring-color:var(--mb-surface-950);
  --mb-toast-contrast-close-button-focus-ring-shadow:none;
  --mb-toast-secondary-background:var(--mb-surface-800);
  --mb-toast-secondary-border-color:var(--mb-surface-700);
  --mb-toast-secondary-color:var(--mb-surface-300);
  --mb-toast-secondary-detail-color:var(--mb-surface-0);
  --mb-toast-secondary-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-surface-500), transparent 96%);
  --mb-toast-secondary-close-button-hover-background:var(--mb-surface-700);
  --mb-toast-secondary-close-button-focus-ring-color:var(--mb-surface-300);
  --mb-toast-secondary-close-button-focus-ring-shadow:none;
  --mb-toast-error-background:color-mix(in srgb, var(--mb-red-500), transparent 84%);
  --mb-toast-error-border-color:color-mix(in srgb, var(--mb-red-700), transparent 64%);
  --mb-toast-error-color:var(--mb-red-500);
  --mb-toast-error-detail-color:var(--mb-surface-0);
  --mb-toast-error-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-red-500), transparent 96%);
  --mb-toast-error-close-button-hover-background:rgba(255, 255, 255, 0.05);
  --mb-toast-error-close-button-focus-ring-color:var(--mb-red-500);
  --mb-toast-error-close-button-focus-ring-shadow:none;
  --mb-toast-warn-background:color-mix(in srgb, var(--mb-yellow-500), transparent 84%);
  --mb-toast-warn-border-color:color-mix(in srgb, var(--mb-yellow-700), transparent 64%);
  --mb-toast-warn-color:var(--mb-yellow-500);
  --mb-toast-warn-detail-color:var(--mb-surface-0);
  --mb-toast-warn-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-yellow-500), transparent 96%);
  --mb-toast-warn-close-button-hover-background:rgba(255, 255, 255, 0.05);
  --mb-toast-warn-close-button-focus-ring-color:var(--mb-yellow-500);
  --mb-toast-warn-close-button-focus-ring-shadow:none;
  --mb-toast-success-background:color-mix(in srgb, var(--mb-green-500), transparent 84%);
  --mb-toast-success-border-color:color-mix(in srgb, var(--mb-green-700), transparent 64%);
  --mb-toast-success-color:var(--mb-green-500);
  --mb-toast-success-detail-color:var(--mb-surface-0);
  --mb-toast-success-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-green-500), transparent 96%);
  --mb-toast-success-close-button-hover-background:rgba(255, 255, 255, 0.05);
  --mb-toast-success-close-button-focus-ring-color:var(--mb-green-500);
  --mb-toast-success-close-button-focus-ring-shadow:none;
  --mb-toast-info-background:color-mix(in srgb, var(--mb-blue-500), transparent 84%);
  --mb-toast-info-border-color:color-mix(in srgb, var(--mb-blue-700), transparent 64%);
  --mb-toast-info-color:var(--mb-blue-500);
  --mb-toast-info-detail-color:var(--mb-surface-0);
  --mb-toast-info-shadow:0px 4px 8px 0px color-mix(in srgb, var(--mb-blue-500), transparent 96%);
  --mb-toast-info-close-button-hover-background:rgba(255, 255, 255, 0.05);
  --mb-toast-info-close-button-focus-ring-color:var(--mb-blue-500);
  --mb-toast-info-close-button-focus-ring-shadow:none;
  --mb-toast-blur:10px;
}
