:root {
  --mb-toggleswitch-handle-border-radius:50%;
  --mb-toggleswitch-handle-size:1rem;
  --mb-toggleswitch-width:2.5rem;
  --mb-toggleswitch-height:1.5rem;
  --mb-toggleswitch-border-radius:30px;
  --mb-toggleswitch-gap:0.25rem;
  --mb-toggleswitch-shadow:var(--mb-form-field-shadow);
  --mb-toggleswitch-border-width:1px;
  --mb-toggleswitch-border-color:transparent;
  --mb-toggleswitch-hover-border-color:transparent;
  --mb-toggleswitch-checked-border-color:transparent;
  --mb-toggleswitch-checked-hover-border-color:transparent;
  --mb-toggleswitch-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-toggleswitch-transition-duration:var(--mb-form-field-transition-duration);
  --mb-toggleswitch-slide-duration:0.2s;
  --mb-toggleswitch-focus-ring-width:var(--mb-focus-ring-width);
  --mb-toggleswitch-focus-ring-style:var(--mb-focus-ring-style);
  --mb-toggleswitch-focus-ring-color:var(--mb-focus-ring-color);
  --mb-toggleswitch-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-toggleswitch-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-toggleswitch-handle-background:var(--mb-surface-0);
  --mb-toggleswitch-handle-disabled-background:var(--mb-form-field-disabled-color);
  --mb-toggleswitch-handle-hover-background:var(--mb-surface-0);
  --mb-toggleswitch-handle-checked-background:var(--mb-surface-0);
  --mb-toggleswitch-handle-checked-hover-background:var(--mb-surface-0);
  --mb-toggleswitch-handle-color:var(--mb-text-muted-color);
  --mb-toggleswitch-handle-hover-color:var(--mb-text-color);
  --mb-toggleswitch-handle-checked-color:var(--mb-primary-color);
  --mb-toggleswitch-handle-checked-hover-color:var(--mb-primary-hover-color);
  --mb-toggleswitch-background:var(--mb-surface-300);
  --mb-toggleswitch-disabled-background:var(--mb-form-field-disabled-background);
  --mb-toggleswitch-hover-background:var(--mb-surface-400);
  --mb-toggleswitch-checked-background:var(--mb-primary-color);
  --mb-toggleswitch-checked-hover-background:var(--mb-primary-hover-color);
}

[data-mb-theme="dark"] {
  --mb-toggleswitch-handle-background:var(--mb-surface-400);
  --mb-toggleswitch-handle-disabled-background:var(--mb-surface-900);
  --mb-toggleswitch-handle-hover-background:var(--mb-surface-300);
  --mb-toggleswitch-handle-checked-background:var(--mb-surface-900);
  --mb-toggleswitch-handle-checked-hover-background:var(--mb-surface-900);
  --mb-toggleswitch-handle-color:var(--mb-surface-900);
  --mb-toggleswitch-handle-hover-color:var(--mb-surface-800);
  --mb-toggleswitch-handle-checked-color:var(--mb-primary-color);
  --mb-toggleswitch-handle-checked-hover-color:var(--mb-primary-hover-color);
  --mb-toggleswitch-background:var(--mb-surface-700);
  --mb-toggleswitch-disabled-background:var(--mb-surface-600);
  --mb-toggleswitch-hover-background:var(--mb-surface-600);
  --mb-toggleswitch-checked-background:var(--mb-primary-color);
  --mb-toggleswitch-checked-hover-background:var(--mb-primary-hover-color);
}
