:root {
  --mb-treeselect-clear-icon-color:var(--mb-form-field-icon-color);
  --mb-treeselect-chip-border-radius:var(--mb-border-radius-sm);
  --mb-treeselect-empty-message-padding:var(--mb-list-option-padding);
  --mb-treeselect-tree-padding:var(--mb-list-padding);
  --mb-treeselect-overlay-background:var(--mb-overlay-select-background);
  --mb-treeselect-overlay-border-color:var(--mb-overlay-select-border-color);
  --mb-treeselect-overlay-border-radius:var(--mb-overlay-select-border-radius);
  --mb-treeselect-overlay-color:var(--mb-overlay-select-color);
  --mb-treeselect-overlay-shadow:var(--mb-overlay-select-shadow);
  --mb-treeselect-dropdown-width:2.5rem;
  --mb-treeselect-dropdown-color:var(--mb-form-field-icon-color);
  --mb-treeselect-background:var(--mb-form-field-background);
  --mb-treeselect-disabled-background:var(--mb-form-field-disabled-background);
  --mb-treeselect-filled-background:var(--mb-form-field-filled-background);
  --mb-treeselect-filled-hover-background:var(--mb-form-field-filled-hover-background);
  --mb-treeselect-filled-focus-background:var(--mb-form-field-filled-focus-background);
  --mb-treeselect-border-color:var(--mb-form-field-border-color);
  --mb-treeselect-hover-border-color:var(--mb-form-field-hover-border-color);
  --mb-treeselect-focus-border-color:var(--mb-form-field-focus-border-color);
  --mb-treeselect-invalid-border-color:var(--mb-form-field-invalid-border-color);
  --mb-treeselect-color:var(--mb-form-field-color);
  --mb-treeselect-disabled-color:var(--mb-form-field-disabled-color);
  --mb-treeselect-placeholder-color:var(--mb-form-field-placeholder-color);
  --mb-treeselect-invalid-placeholder-color:var(--mb-form-field-invalid-placeholder-color);
  --mb-treeselect-shadow:var(--mb-form-field-shadow);
  --mb-treeselect-padding-x:var(--mb-form-field-padding-x);
  --mb-treeselect-padding-y:var(--mb-form-field-padding-y);
  --mb-treeselect-border-radius:var(--mb-form-field-border-radius);
  --mb-treeselect-transition-duration:var(--mb-form-field-transition-duration);
  --mb-treeselect-lg-font-size:var(--mb-form-field-lg-font-size);
  --mb-treeselect-lg-padding-x:var(--mb-form-field-lg-padding-x);
  --mb-treeselect-lg-padding-y:var(--mb-form-field-lg-padding-y);
  --mb-treeselect-sm-font-size:var(--mb-form-field-sm-font-size);
  --mb-treeselect-sm-padding-x:var(--mb-form-field-sm-padding-x);
  --mb-treeselect-sm-padding-y:var(--mb-form-field-sm-padding-y);
  --mb-treeselect-focus-ring-width:var(--mb-form-field-focus-ring-width);
  --mb-treeselect-focus-ring-style:var(--mb-form-field-focus-ring-style);
  --mb-treeselect-focus-ring-color:var(--mb-form-field-focus-ring-color);
  --mb-treeselect-focus-ring-offset:var(--mb-form-field-focus-ring-offset);
  --mb-treeselect-focus-ring-shadow:var(--mb-form-field-focus-ring-shadow);
}
