:root {
  --mb-treetable-paginator-bottom-border-color:var(--mb-content-border-color);
  --mb-treetable-paginator-bottom-border-width:0 0 1px 0;
  --mb-treetable-paginator-top-border-color:var(--mb-content-border-color);
  --mb-treetable-paginator-top-border-width:0 0 1px 0;
  --mb-treetable-node-toggle-button-hover-background:var(--mb-content-hover-background);
  --mb-treetable-node-toggle-button-selected-hover-background:var(--mb-content-background);
  --mb-treetable-node-toggle-button-color:var(--mb-text-muted-color);
  --mb-treetable-node-toggle-button-hover-color:var(--mb-text-color);
  --mb-treetable-node-toggle-button-selected-hover-color:var(--mb-primary-color);
  --mb-treetable-node-toggle-button-size:1.75rem;
  --mb-treetable-node-toggle-button-border-radius:50%;
  --mb-treetable-node-toggle-button-focus-ring-width:var(--mb-focus-ring-width);
  --mb-treetable-node-toggle-button-focus-ring-style:var(--mb-focus-ring-style);
  --mb-treetable-node-toggle-button-focus-ring-color:var(--mb-focus-ring-color);
  --mb-treetable-node-toggle-button-focus-ring-offset:var(--mb-focus-ring-offset);
  --mb-treetable-node-toggle-button-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-treetable-loading-icon-size:2rem;
  --mb-treetable-sort-icon-color:var(--mb-text-muted-color);
  --mb-treetable-sort-icon-hover-color:var(--mb-text-hover-muted-color);
  --mb-treetable-sort-icon-size:0.875rem;
  --mb-treetable-resize-indicator-width:1px;
  --mb-treetable-resize-indicator-color:var(--mb-primary-color);
  --mb-treetable-column-resizer-width:0.5rem;
  --mb-treetable-footer-background:var(--mb-content-background);
  --mb-treetable-footer-border-color:var(--mb-treetable-border-color);
  --mb-treetable-footer-color:var(--mb-content-color);
  --mb-treetable-footer-border-width:0 0 1px 0;
  --mb-treetable-footer-padding:0.75rem 1rem;
  --mb-treetable-column-footer-font-weight:600;
  --mb-treetable-footer-cell-background:var(--mb-content-background);
  --mb-treetable-footer-cell-border-color:var(--mb-treetable-border-color);
  --mb-treetable-footer-cell-color:var(--mb-content-color);
  --mb-treetable-footer-cell-padding:0.75rem 1rem;
  --mb-treetable-body-cell-border-color:var(--mb-treetable-border-color);
  --mb-treetable-body-cell-padding:0.75rem 1rem;
  --mb-treetable-body-cell-gap:0.5rem;
  --mb-treetable-row-background:var(--mb-content-background);
  --mb-treetable-row-hover-background:var(--mb-content-hover-background);
  --mb-treetable-row-selected-background:var(--mb-highlight-background);
  --mb-treetable-row-color:var(--mb-content-color);
  --mb-treetable-row-hover-color:var(--mb-content-hover-color);
  --mb-treetable-row-selected-color:var(--mb-highlight-color);
  --mb-treetable-row-focus-ring-width:var(--mb-focus-ring-width);
  --mb-treetable-row-focus-ring-style:var(--mb-focus-ring-style);
  --mb-treetable-row-focus-ring-color:var(--mb-focus-ring-color);
  --mb-treetable-row-focus-ring-offset:-1px;
  --mb-treetable-row-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-treetable-column-title-font-weight:600;
  --mb-treetable-header-cell-background:var(--mb-content-background);
  --mb-treetable-header-cell-hover-background:var(--mb-content-hover-background);
  --mb-treetable-header-cell-selected-background:var(--mb-highlight-background);
  --mb-treetable-header-cell-border-color:var(--mb-treetable-border-color);
  --mb-treetable-header-cell-color:var(--mb-content-color);
  --mb-treetable-header-cell-hover-color:var(--mb-content-hover-color);
  --mb-treetable-header-cell-selected-color:var(--mb-highlight-color);
  --mb-treetable-header-cell-gap:0.5rem;
  --mb-treetable-header-cell-padding:0.75rem 1rem;
  --mb-treetable-header-cell-focus-ring-width:var(--mb-focus-ring-width);
  --mb-treetable-header-cell-focus-ring-style:var(--mb-focus-ring-style);
  --mb-treetable-header-cell-focus-ring-color:var(--mb-focus-ring-color);
  --mb-treetable-header-cell-focus-ring-offset:-1px;
  --mb-treetable-header-cell-focus-ring-shadow:var(--mb-focus-ring-shadow);
  --mb-treetable-header-background:var(--mb-content-background);
  --mb-treetable-header-border-color:var(--mb-treetable-border-color);
  --mb-treetable-header-color:var(--mb-content-color);
  --mb-treetable-header-border-width:0 0 1px 0;
  --mb-treetable-header-padding:0.75rem 1rem;
  --mb-treetable-transition-duration:var(--mb-transition-duration);
  --mb-treetable-body-cell-selected-border-color:var(--mb-primary-100);
  --mb-treetable-border-color:var(--mb-content-border-color);
}

[data-mb-theme="dark"] {
  --mb-treetable-body-cell-selected-border-color:var(--mb-primary-900);
  --mb-treetable-border-color:var(--mb-surface-800);
}
